/* -------------------------------------- RSS------------------------ */


.borde_rss {
	border: 1px solid #CCCCCC;
}

.negritas {
	font-family: Tahoma, Arial, Helvetica;
	font-size: 10px;
	font-weight: bold;
	color: #666666;
}

#tituloTabla{
	/*font-weight:bold; 
	font-size:13px;
	*/
	 
	background-color:#E5E5E5;
}


td {

	font-size:12px;
	font-family: Tahoma, Arial, Helvetica;
}

.borde_top td {

	border-top: 1px dotted #CCCCCC;
	
}


.seccion_rss {
	border-right: 1px dotted #CCCCCC;
	font-weight:bold; 
	color:#85A0C6;
	
}

#tituloSeccion{

	font-size:12px;
	border-right: 1px solid #CCCCCC;

}

img {
	border:0px;
	text-align:center;
}

