/*ajustar las alturas del contenedor en estos 2 primeros estilos*/
div.current-lft-blue1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#888888;
	clear: none;
	float: left;
	border-width: 1px 1px 1px 0px;
	border-style: solid;
	border-color: #fff;
	background-color: #fff;
	border-left: #beca0a 1px solid;
	padding: 0px;
	width: 63%;
	height: 220px;  /*ALTURA DEL CONTENEDOR, IGUAL QUE: .qthead-lft-blue1 */
}

.qthead-lft-blue1 {
	float:left;
	background-color: #fff;
	border-width: 1px 0px 0px 1px;
	border-style: solid;
	border-color: #fff;
	height: 220px;  /*ALTURA DEL CONTENEDOR, IGUAL QUE: div.current-lft-blue1 */
	width:35%;
}


div.current-lft-blue1 li{ border-bottom: 1px dotted #9daebf; list-style-type: none;}
div.current-lft-blue1 li a{ text-decoration: none; color:#888888; display:block; padding:4px; border-bottom:1px solid #fff; border-top:1px solid #fff;}
div.current-lft-blue1 li a:hover{ background-color:#dfe5eb; border-bottom:1px solid #9daebf; border-top:1px solid #9daebf;}


.qthead-lft-blue1 ul.qtabs {
	margin: 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3a4856;
	width:100%;
		
}
.qthead-lft-blue1 ul.qtabs li {
	float: none;
	background-color:#fff;
	color: #3a4856;
	margin: 0;
	border-bottom: none;
	border-right: none;
	width: 100%;
	display: block;
}

.qthead-lft-blue1 ul.qtabs li span{
	color: #3a4856;
	display:block;padding: 3px 6px !important;
}
.qthead-lft-blue1 ul.qtabs li.open {
	background-color: #beca0a;
	color: #3a4856;
	border-right: none;
	font-weight:bold;
	width:100%;
	display: block;
}
.qthead-lft-blue1 ul.qtabs li.hover span {
	text-decoration: none;
	display:block;
	background-color:#9daebf;
	width:100%;
	display: block;
}
.qthead-lft-blue1 ul.qtabs li.open span{
	color: #3a4856;
	text-decoration: none;
	width:100%;
	display: block;
}

/* Common Styles */
.qtwrapper {
	height: 1%;
}
ul.qtabs {
	list-style-position: outside;
	list-style-type: none;
	float: left;
	margin: 0 !important;
	padding: 0 !important;
}
ul.qtabs li {
	list-style-type: none;
	float: left;
	margin: 0 !important;
	padding: 0 !important;
	cursor: pointer;
}
.qtcontent {
	position: absolute;
	margin: 0;
	padding: 0px;
	width:100%;
	/*visibility: hidden;*/
}

.qtcontent2 {
	position: absolute;
	margin: 0;
	padding: 0px;
	width:100%;
	/*visibility: hidden;*/
}

.qtcurrent {
	position:relative;
	overflow:hidden; 
}

 .cajabuscadordeportivo .temporadas{
 background-image: url(http://www.levante-emv.com/reclamos/img/bg_temporada_02.jpg);
 background-repeat: repeat-x;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 10px;
 color: #3a4856;
 text-align: right;
 line-height: 24px;
 padding-right: 5px;
}
.cajabuscadordeportivo .temporadas a{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 10px;
 color: #3a4856;
 text-decoration:none;
}
.cajabuscadordeportivo .temporadas a:hover{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 10px;
 color: #1D242C;
 text-decoration:none;
}
/* End Common Styles */


/*---------------*/

  .cajabuscadordeportivo{
	  border: 1px solid #9daebf; text-align:center; width:100%;
	  }
  .cajabuscadordeportivo h2 { margin:0px; padding:0px;}
  
.tabberlive .tabbertabhide {
 display:none;
}


.tabber {
}
.tabberlive {
 margin-top:3px;
	 text-align:left;
}


  /*PESTAÑAS DE ARRIBA*/
ul.tabbernav
{
 margin:0;
 padding: 3px 0;
 border-bottom: 1px solid #9daebf;
 font-family:Arial, Helvetica, sans-serif;
 font-size:11px;
 font-style:normal;
 }

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}

ul.tabbernav li a
{
	padding: 3px 4px 3px 4px;
 margin-left: 5px;
 border: 1px solid #9daebf;
 border-bottom: none;
 background-color: #f3f5f7;
 text-decoration: none;
}

ul.tabbernav li a:link { color: #3a4856; }
ul.tabbernav li a:visited { color: #3a4856; }

ul.tabbernav li a:hover
{
 color: #3a4856;
 background-color: #9daebf;
 border-color: #9daebf;
}

ul.tabbernav li.tabberactive a
{
 background-color: #fff;
 border-bottom: 1px solid #fff;
 font-weight:bold;
}

ul.tabbernav li.tabberactive a:hover
{
 color: #000;
 background: white;
 border-bottom: 1px solid white;
}


.tabberlive .tabbertab {
 padding:5px;
 border:none;

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 /* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}
