
/*//////////////////////////////MUNDIALES MOTOR////////////////////////////////////*/
.mundial_motor{
	background-image: url(http://www.levante-emv.com/deportes/reclamos/img/fondo_motor.jpg);
	width: 320px;
	margin: 0px;
	padding-top: 35px;
	background-repeat: no-repeat;
}
.mundial_motor .pestanya_horizontal {
	text-align:left;
	margin: 0px;
	padding: 0px;
}
.mundial_motor .pestanya_horizontal ul.horizontal
{
	margin:0;
	padding: 3px 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #9cb33e;
	font-weight: bold;
	color: #3f4c55;
 }
.mundial_motor .pestanya_horizontal ul.horizontal li
{
	list-style: none;
	margin: 0;
	display: inline;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.mundial_motor .pestanya_horizontal ul.horizontal li a
{
	padding: 3px 4px 3px 4px;
	margin-left: 5px;
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: transparent;
}
.mundial_motor .pestanya_horizontal ul.horizontal li a:link { color: #3a4856; }
.mundial_motor .pestanya_horizontal ul.horizontal li a:visited { color: #3a4856; }

.mundial_motor .pestanya_horizontal ul.horizontal li a:hover
{
	color: #000;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: transparent;
}

.mundial_motor .pestanya_horizontal ul.horizontal li.activa a
{
	background-color: #9cb33e;
	border-bottom: 1px solid #9cb33e;
	font-weight:bold;
	color: #FFF;
}

.mundial_motor .pestanya_horizontal ul.horizontal li.activa a:hover
{
	color: #000;
	border-bottom: 1px solid #9cb33e;
	background-color: #9cb33e;
}
.mundial_motor .contenedor_resultados {
	border:none;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}
.mundial_motor .contenedor_resultados .resultado{
	background-color: #FFF;
	border: 1px solid #dbdbdb;
	text-align: left;
	display: block;
	padding: 2px;
}
.mundial_motor .contenedor_resultados .resultado .posicion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 27px;
	color: #51565a;
	border: 1px solid #51565a;
	float: left;
	width: 27px;
	text-align: center;
	font-weight: bold;
	margin-right: 5px;
}
.mundial_motor .contenedor_resultados .resultado .posicion a{
	text-decoration:none;
		color: #51565a;
}
.mundial_motor .contenedor_resultados .resultado .posicion a:hover{
	text-decoration:none;
}
.mundial_motor .contenedor_resultados .resultado .posicion_selec{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 27px;
	color: #FFF;
	border: 1px solid #51565a;
	float: left;
	width: 27px;
	text-align: center;
	font-weight: bold;
	margin-right: 5px;
	background-color: #51565a;
}
.mundial_motor .contenedor_resultados .resultado .posicion_selec a{
	text-decoration:none;
		color: #FFF;
}
.mundial_motor .contenedor_resultados .resultado .posicion_selec a:hover{
	text-decoration:none;
}
.mundial_motor .contenedor_resultados .resultado .foto{
	height: 27px;
	width: 27px;
	border: 1px solid #51565a;
	margin-right: 10px;
	float: left;
}
.mundial_motor .contenedor_resultados .resultado .piloto{
	float: left;
	margin-right: 5px;	
}
.mundial_motor .contenedor_resultados .resultado .piloto .nombre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ef001a;
}
.mundial_motor .contenedor_resultados .resultado .piloto .nombre a{
	color: #ef001a;
	text-decoration:none;
}
.mundial_motor .contenedor_resultados .resultado .piloto .nombre a:hover{
	text-decoration:underline;
}
.mundial_motor .contenedor_resultados .resultado .piloto .escuderia {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #404548;
}
.mundial_motor .contenedor_resultados .resultado .piloto .escuderia a {
	color: #404548;
	text-decoration:none;
}
.mundial_motor .contenedor_resultados .resultado .piloto .escuderia a:hover {
	text-decoration:underline;
}
.mundial_motor .contenedor_resultados .resultado .puntuacion{
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #787878;
	margin-right: 5px;
	line-height: 30px;
}
.mundial_motor .separador{
	clear: both;
}
.mundial_motor .enlaces_motor{
	margin-right: 2px;
	margin-left: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	color: #363d45;
	line-height: 29px;
	font-weight: bold;
}
.mundial_motor .enlaces_motor a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #363d45;
	text-decoration:none;
	font-weight: bold;
}
.mundial_motor .enlaces_motor a:hover{
	text-decoration:underline;
}

/*/////////////////////////////FIN MUNDIALES MOTOR////////////////////////////////////*/


/*//////////////////////////////MUNDIALES MOTOCICLISMO 320////////////////////////////////////*/
.mundial_motociclismo{
	background-image: url(http://www.levante-emv.com/deportes/reclamos/img/fondo_motociclismo.jpg);
	width: 320px;
	margin: 0px;
	padding-top: 35px;
	background-repeat: no-repeat;
}
.mundial_motociclismo .pestanya_horizontal {
	text-align:left;
	margin: 0px;
	padding: 0px;
}
.mundial_motociclismo .pestanya_horizontal ul.horizontal
{
	margin:0;
	padding: 3px 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #9cb33e;
	font-weight: bold;
	color: #3f4c55;
 }
.mundial_motociclismo .pestanya_horizontal ul.horizontal li
{
	list-style: none;
	margin: 0;
	display: inline;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.mundial_motociclismo .pestanya_horizontal ul.horizontal li a
{
	padding: 3px 4px 3px 4px;
	margin-left: 5px;
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: transparent;
}
.mundial_motociclismo .pestanya_horizontal ul.horizontal li a:link { color: #3a4856; }
.mundial_motociclismo .pestanya_horizontal ul.horizontal li a:visited { color: #3a4856; }

.mundial_motociclismo .pestanya_horizontal ul.horizontal li a:hover
{
	color: #000;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: transparent;
}

.mundial_motociclismo .pestanya_horizontal ul.horizontal li.activa a
{
	background-color: #9cb33e;
	border-bottom: 1px solid #9cb33e;
	font-weight:bold;
	color: #FFF;
}

.mundial_motociclismo .pestanya_horizontal ul.horizontal li.activa a:hover
{
	color: #000;
	border-bottom: 1px solid #9cb33e;
	background-color: #9cb33e;
}
.mundial_motociclismo .contenedor_resultados {
	border:none;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}
.mundial_motociclismo .contenedor_resultados .resultado{
	background-color: #FFF;
	border: 1px solid #dbdbdb;
	text-align: left;
	display: block;
	padding: 2px;
}
.mundial_motociclismo .contenedor_resultados .resultado .posicion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 27px;
	color: #51565a;
	border: 1px solid #51565a;
	float: left;
	width: 27px;
	text-align: center;
	font-weight: bold;
	margin-right: 5px;
}
.mundial_motociclismo .contenedor_resultados .resultado .posicion a{
	text-decoration:none;
		color: #51565a;
}
.mundial_motociclismo .contenedor_resultados .resultado .posicion a:hover{
	text-decoration:none;
}
.mundial_motociclismo .contenedor_resultados .resultado .posicion_selec{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 27px;
	color: #FFF;
	border: 1px solid #51565a;
	float: left;
	width: 27px;
	text-align: center;
	font-weight: bold;
	margin-right: 5px;
	background-color: #51565a;
}
.mundial_motociclismo .contenedor_resultados .resultado .posicion_selec a{
	text-decoration:none;
		color: #FFF;
}
.mundial_motociclismo .contenedor_resultados .resultado .posicion_selec a:hover{
	text-decoration:none;
}
.mundial_motociclismo .contenedor_resultados .resultado .foto{
	height: 27px;
	width: 27px;
	border: 1px solid #51565a;
	margin-right: 10px;
	float: left;
}
.mundial_motociclismo .contenedor_resultados .resultado .piloto{
	float: left;
	margin-right: 5px;	
}
.mundial_motociclismo .contenedor_resultados .resultado .piloto .nombre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ef001a;
}
.mundial_motociclismo .contenedor_resultados .resultado .piloto .nombre a{
	color: #ef001a;
	text-decoration:none;
}
.mundial_motociclismo .contenedor_resultados .resultado .piloto .nombre a:hover{
	text-decoration:underline;
}
.mundial_motociclismo .contenedor_resultados .resultado .piloto .escuderia {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #404548;
}
.mundial_motociclismo .contenedor_resultados .resultado .piloto .escuderia a {
	color: #404548;
	text-decoration:none;
}
.mundial_motociclismo .contenedor_resultados .resultado .piloto .escuderia a:hover {
	text-decoration:underline;
}
.mundial_motociclismo .contenedor_resultados .resultado .puntuacion{
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #787878;
	margin-right: 5px;
	line-height: 30px;
}
.mundial_motociclismo .separador{
	clear: both;
}
.mundial_motociclismo .enlaces_motor{
	margin-right: 2px;
	margin-left: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	color: #363d45;
	line-height: 29px;
	font-weight: bold;
}
.mundial_motociclismo .enlaces_motor a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #363d45;
	text-decoration:none;
	font-weight: bold;
}
.mundial_motociclismo .enlaces_motor a:hover{
	text-decoration:underline;
}

/*/////////////////////////////FIN MUNDIALES MOTOCICLISMO320////////////////////////////////////*/



/*//////////////////////////////MUNDIALES MOTOCICLISMO 285////////////////////////////////////*/
.mundial_motociclismo285{
	background-image: url(http://www.levante-emv.com/deportes/reclamos/img/fondo_motociclismo285.jpg);
	width: 285px;
	margin: 0px;
	padding-top: 35px;
	background-repeat: no-repeat;
}
.mundial_motociclismo285 .pestanya_horizontal {
	text-align:left;
	margin: 0px;
	padding: 0px;
}
.mundial_motociclismo285 .pestanya_horizontal ul.horizontal
{
	margin:0;
	padding: 3px 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:normal;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #9cb33e;
	font-weight: bold;
	color: #3f4c55;
 }
.mundial_motociclismo285 .pestanya_horizontal ul.horizontal li
{
	list-style: none;
	margin: 0;
	display: inline;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.mundial_motociclismo285 .pestanya_horizontal ul.horizontal li a
{
	padding: 3px 4px 3px 4px;
	margin-left: 5px;
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: transparent;
}
.mundial_motociclismo285 .pestanya_horizontal ul.horizontal li a:link { color: #3a4856; }
.mundial_motociclismo285 .pestanya_horizontal ul.horizontal li a:visited { color: #3a4856; }

.mundial_motociclismo285 .pestanya_horizontal ul.horizontal li a:hover
{
	color: #000;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: transparent;
}

.mundial_motociclismo285 .pestanya_horizontal ul.horizontal li.activa a
{
	background-color: #9cb33e;
	border-bottom: 1px solid #9cb33e;
	font-weight:bold;
	color: #FFF;
}

.mundial_motociclismo285 .pestanya_horizontal ul.horizontal li.activa a:hover
{
	color: #000;
	border-bottom: 1px solid #9cb33e;
	background-color: #9cb33e;
}
.mundial_motociclismo285 .contenedor_resultados {
	border:none;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}
.mundial_motociclismo285 .contenedor_resultados .resultado{
	background-color: #FFF;
	border: 1px solid #dbdbdb;
	text-align: left;
	display: block;
	padding: 2px;
}
.mundial_motociclismo285 .contenedor_resultados .resultado .posicion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 27px;
	color: #51565a;
	border: 1px solid #51565a;
	float: left;
	width: 27px;
	text-align: center;
	font-weight: bold;
	margin-right: 5px;
}
.mundial_motociclismo285 .contenedor_resultados .resultado .posicion a{
	text-decoration:none;
		color: #51565a;
}
.mundial_motociclismo285 .contenedor_resultados .resultado .posicion a:hover{
	text-decoration:none;
}
.mundial_motociclismo285 .contenedor_resultados .resultado .posicion_selec{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 27px;
	color: #FFF;
	border: 1px solid #51565a;
	float: left;
	width: 27px;
	text-align: center;
	font-weight: bold;
	margin-right: 5px;
	background-color: #51565a;
}
.mundial_motociclismo285 .contenedor_resultados .resultado .posicion_selec a{
	text-decoration:none;
		color: #FFF;
}
.mundial_motociclismo285 .contenedor_resultados .resultado .posicion_selec a:hover{
	text-decoration:none;
}
.mundial_motociclismo285 .contenedor_resultados .resultado .foto{
	height: 27px;
	width: 27px;
	border: 1px solid #51565a;
	margin-right: 10px;
	float: left;
}
.mundial_motociclismo285 .contenedor_resultados .resultado .piloto{
	float: left;
	margin-right: 5px;	
}
.mundial_motociclismo285 .contenedor_resultados .resultado .piloto .nombre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ef001a;
}
.mundial_motociclismo285 .contenedor_resultados .resultado .piloto .nombre a{
	color: #ef001a;
	text-decoration:none;
}
.mundial_motociclismo285 .contenedor_resultados .resultado .piloto .nombre a:hover{
	text-decoration:underline;
}
.mundial_motociclismo285 .contenedor_resultados .resultado .piloto .escuderia {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #404548;
}
.mundial_motociclismo285 .contenedor_resultados .resultado .piloto .escuderia a {
	color: #404548;
	text-decoration:none;
}
.mundial_motociclismo285 .contenedor_resultados .resultado .piloto .escuderia a:hover {
	text-decoration:underline;
}
.mundial_motociclismo285 .contenedor_resultados .resultado .puntuacion{
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #787878;
	margin-right: 5px;
	line-height: 30px;
}
.mundial_motociclismo285 .separador{
	clear: both;
}
.mundial_motociclismo285 .enlaces_motor{
	margin-right: 0px;
	margin-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	color: #363d45;
	line-height: 29px;
	font-weight: bold;
}
.mundial_motociclismo285 .enlaces_motor a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #363d45;
	text-decoration:none;
	font-weight: bold;
}
.mundial_motociclismo285 .enlaces_motor a:hover{
	text-decoration:underline;
}

/*/////////////////////////////FIN MUNDIALES MOTOCICLISMO 285////////////////////////////////////*/


/* ////////////////RANKING DE LA LIGA///////////////////////////////////*/
.caja_ranking{
	border: 1px solid #9daebf;
	text-align:left;
}
.caja_ranking h2{
	margin: 0px;
	padding: 0px;
}
.caja_ranking h2 a{
	margin: 0px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.pestanya_horizontal {
	 margin-top:3px;
	 text-align:left;
}
.pestanya_horizontal .contenedor_resultados {
 padding:5px;
 border:none;
}
.pestanya_horizontal .contenedor_resultados .izquierda{
	width: 110px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #b1b635;
	float: left;
}
.pestanya_horizontal .contenedor_resultados .izquierda ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.pestanya_horizontal .contenedor_resultados .izquierda ul li a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3e4854;
	line-height: 25px;
	padding-left: 5px;
	background-color: #ffffff;
	display:block;
	text-decoration:none;
}
.pestanya_horizontal .contenedor_resultados .izquierda ul li.selec a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3e4854;
	line-height: 25px;
	padding-left: 5px;
	font-weight: bold;
	background-color: #b1b635;
	display:block;
	text-decoration:none;
}
.pestanya_horizontal .contenedor_resultados .izquierda ul li a:hover{
	background-color: #9daebf;
	text-decoration:none;
}
.pestanya_horizontal .contenedor_resultados .derecha{
	width: 190px;
	float:right;
}
.pestanya_horizontal .contenedor_resultados .derecha .resultat{
	margin-bottom: 5px;
	display: block;
	clear: both;
	width: 190px;
}
.pestanya_horizontal .contenedor_resultados .derecha .resultat img{
	float: left;
	border: 1px solid #9daebf;
	margin-right: 3px;
}
.pestanya_horizontal .contenedor_resultados .derecha .resultat .nom{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #3e474e;
	float: left;
}
.pestanya_horizontal .contenedor_resultados .derecha .resultat .nom a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #3e474e;
	text-decoration:none;
}
.pestanya_horizontal .contenedor_resultados .derecha .resultat .nom a:hover{
	text-decoration:underline;
}
.pestanya_horizontal .contenedor_resultados .derecha .resultat .numero{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #3e474e;
	float: right;
}
.pestanya_horizontal .contenedor_resultados .derecha .resultat .numero a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #3e474e;
	text-decoration:none;
}
.pestanya_horizontal .contenedor_resultados .derecha .resultat .numero a:hover{
	text-decoration:underline;}

.pestanya_horizontal .contenedor_resultados .derecha .resultat .equip{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #888888;
	clear: right;
	margin-top: 2px;
	float: none;
}
.pestanya_horizontal .contenedor_resultados .derecha .resultat .equip a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #888888;
	text-decoration:none;
}
.pestanya_horizontal .contenedor_resultados .derecha .resultat .equip a:hover{
	text-decoration:underline;}
.caja_ranking .separador{
	clear: both;
}
ul.horizontal
{
 margin:0;
 padding: 3px 0;
 border-bottom: 1px solid #9daebf;
 font-family:Arial, Helvetica, sans-serif;
 font-size:11px;
 font-style:normal;
 }
 ul.horizontal li
{
 list-style: none;
 margin: 0;
 display: inline;
}
ul.horizontal li a
{
	padding: 3px 4px 3px 4px;
 margin-left: 5px;
 border: 1px solid #9daebf;
 border-bottom: none;
 background-color: #f3f5f7;
 text-decoration: none;
}
ul.horizontal li a:link { color: #3a4856; }
ul.horizontal li a:visited { color: #3a4856; }

ul.horizontal li a:hover
{
 color: #3a4856;
 background-color: #9daebf;
 border-color: #9daebf;
}

ul.horizontal li.activa a
{
 background-color: #fff;
 border-bottom: 1px solid #fff;
 font-weight:bold;
}

ul.horizontal li.activa a:hover
{
 color: #000;
 background: white;
 border-bottom: 1px solid white;
}
.enlaces_inferior{
	margin-right: 2px;
	margin-left: 2px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #9daebf;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: center;
	line-height: 25px;
	color: #3e4854;
}
.enlaces_inferior a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3e4854;
	text-decoration:none;
}
.enlaces_inferior a:hover{
	text-decoration:underline;
}
/* ////////////////FIN RANKING DE LA LIGA///////////////////////////////////*/
