@charset "utf-8";
/* CSS Document */

/* FONDO */
body 
{
	font-family:Arial, Helvetica, sans-serif; 
	background-color:#eee; 
	margin: 0; 
	background-image:url(http://www.levante-emv.com/elementosWeb/img/especiales/background-centrado.gif); 
	background-position:center; 
	background-repeat:repeat-y;
}
body p {font-family:Arial, Helvetica, sans-serif}

.esp { width:990px; padding:0px; margin: 0 auto; font-family:Arial, Helvetica, sans-serif}

/* CLEARS Y ESPACIOS */
.esp .clear { clear:both;}
.esp .clear15 { clear:both; border-bottom:1px dotted #CCC; margin:10px 3px;}
.esp .clear30 { clear:both; height:30px;}
.esp .clearseparador{ clear:both; border-bottom:1px dotted #ccc; margin: 10px 0px;}
.esp .separadorvertical { width:20px; float:left}
.esp .separadorvertical_peq { width:15px; float:left}
.esp .float_izda { float:left; width:315px;}
.esp .float_dcha {float:right; width:315px;}

/* CABECERA */
.esp .cabeceraWeb   { width:990px; overflow: hidden; border: none; margin-top:0px; font-weight:bold; font-size:75%; color:#000;}
.esp .cabeceraWeb a {color:#000; text-decoration:none;}
.esp .cabeceraWeb a:hover { color:#000;}
.esp .cabeceraWeb img { border:none;} 

.esp .cabezatop {position:relative; left:0px; top:0px; width:990px;}

.esp .menu {}

.esp .letra_pequenya {font-size:12px; margin:0px}

/* MENU PRINCIPAL */
.esp .menuSuperior {float:left; width:990px; background-color:#eee; font-weight:bold; font-size:13px; line-height:normal; padding-bottom:5px; padding-top:5px;}
.esp .menuSuperior h3{ font-size:13px; margin:0px}
.esp .menuSuperior h2{ font-size:13px; margin:0px}
.esp .menuSuperior ul {margin:0; padding:0px 0px 5px 0px; list-style:none; }
.esp .menuSuperior li { display:inline; margin:0; padding:0;}
.esp .menuSuperior a  {float: left; margin:0; padding:0px; text-decoration:none; border-right: 1px solid #292b34; }
.esp .menuSuperior a span {float:left; display:block; padding:5px 10px; color:#292b34;}
	/* Commented Backslash Hack hides rule from IE5-Mac \*/
.esp .menuSuperior a span {float:none;}
	/* End IE5-Mac hack */
.esp .menuSuperior a:hover span {color:#1759a6;}
.esp .menuSuperior .current a span { background-color:#1759a6; color:#fff;}
.esp .submenu .current a span { font-weight:bold; color: #000000; }

/* SUBMENU */
.esp .submenu{ float:left; width:990px; background-color:#eee; font-weight:bold; font-size:13px; line-height:normal; padding-bottom:5px; padding-top:5px;}
.esp .submenu ul{ margin:0; padding:0px 0px 5px 0px; list-style:none; }
.esp .submenu li{ display:inline; margin:0px 0px 0px 10px; padding:0px 15px 0px 0px; float:left; border-right:1px solid #999;}
.esp .submenu h3, .esp .submenu h2{ margin:0; padding:0; font-size:12px; font-weight:bold;}
.esp .submenu h3 a, .esp .submenu h2 a{ text-decoration:none; color:#666;}
.esp .submenu h3 a:hover, .esp .submenu h2 a:hover{text-decoration:none; color:#000;}


/* RUTADEMIGAS */
.esp .rutademigas { font-size:11px; margin:3px 7px;}
.esp .rutademigas h1{font-size:11px; margin:0; font-weight:bold; display: inline;color:#000;}
.esp .rutademigas h1 a{color:#333; text-decoration:none;}
.esp .rutademigas h1 a:hover { color:#000;}
.esp .rutademigas a{color:#333; text-decoration:none;}
.esp .rutademigas a:hover { color:#000;}
.esp .rutademigas .flecha {color:#1759a6; font-weight:bold; display:inline; margin: 0px 8px;}





/* COLUMNA IZDA Y DCHA */
.esp .columnaizdaglobal{background-color:#fff; margin:10px 0px; padding:5px 7px 7px 5px; width:650px; float:left; border-right:1px dotted #ccc;}
.esp .columnadchaglobal {background-color:#fff; margin:10px 0px; padding:5px 5px 7px 0px; width:315px; float:right; overflow:hidden;}
.esp .columnaizdaglobal .noticiashome{ background-color:#fff;}


/* VIDEOS */
.esp .cont_videonot {position: relative;}


/* BLOQUES PRINCIPAL Y EN 3 COLUMNAS */
.esp .noticia3col {position:relative; z-index:10007; margin-top:5px;}
.esp .noticia3col .cajas{position:absolute; left:0px; bottom:0px; width:990px; height:55px; z-index:10008; background-image:url(http://www.levante-emv.com/elementosWeb/img/especiales/bg_transp.png); padding-top:4px; margin-bottom:15px;}
.esp .noticia3col .parrafo {display:block; float:left; width:976px; background-color:#eee; position:relative; font-size:12px; padding:5px 7px; color:#000;}
.esp .noticia3col .parrafo span{color:#1759a6; font-weight:bold; padding:4px 0px;}
.esp .noticia3col .parrafo a{ text-decoration:none; color:#1759a6}
.esp .noticia3col .parrafo a:hover {text-decoration:underline;}

.esp .noticia3col .basic3col a img { width:990px; float:left; border:none; display:block}
.esp .noticia3col .basic3col  a:hover img {opacity: 0.7; -moz-opacity: 0.7; -webkit-opacity: 0.7; filter:alpha(opacity=70);}
.esp .noticia3col .basic3col  h2 { margin:0px; text-decoration:none; font-size:24px; margin-top:0px; padding-top:0px;}
.esp .noticia3col .basic3col  h2 a{color:#1759a6; text-decoration:none; margin:3px 0px 0px 0px;}
.esp .noticia3col .basic3col  h2 a:hover { color: #666;}
.esp .noticia3col .basic3col  .fecha { font-size:11px;}
.esp .noticia3col .basic3col  .autoria { font-size:11px; color:#1759a6;}
.esp .noticia3col .basic3col  .autoria a {color:#1759a6; font-weight:bold;}
.esp .noticia3col .basic3col  .autoria a:hover {color:#666; font-weight:bold;} 
.esp .noticia3col .basic3col  p { font-size:12px;}
.esp .noticia3col .basic3col  a .piedefoto {background-color:#000; color:#eee; font-size:11px; height:15px; padding:0 0 0 3px;}
.esp .noticia3col .basic3col  .piedefoto { background-color:#0F3; color:#0F3}

.esp .noticia3col .ppal3col {float:left; width:100%; font-size:14px; line-height:1em;}
.esp .noticia3col .ppal3col ul {margin:0; padding:0px 0px 0px 0px; list-style:none;}
.esp .noticia3col .ppal3col li {display:inline; margin:0; padding:0;}
.esp .noticia3col .ppal3col a { float:left; margin:0; padding:0 0 0 0px; text-decoration:none; }
.esp .noticia3col .ppal3col .enlaceImg { float:none; margin:0; padding:0 0 0 0px; }
.esp .noticia3col .ppal3col a span { float:left; display:block; padding:2px 15px 4px 6px; color:#84776B; width:309px; height:49px; }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
.esp .noticia3col .ppal3col a span {float:none;}
    /* End IE5-Mac hack */
.esp .noticia3col .ppal3col a:hover span { color:#333; }
.esp .noticia3col .ppal3col .current a { color:#FFF;}
.esp .noticia3col .ppal3col .current a span {background:url(http://www.levante-emv.com/elementosWeb/img/especiales/fondoAzul.png) no-repeat; color:#FFF; font-size:15px; font-weight:bold;}
.esp .noticia3col .ppal3col .current a:hover span { color: #CCC;}
.esp .noticia3col .ppal3col .noActive a { color:#333; }
.esp .noticia3col .ppal3col .noActive a span { background:url(http://www.levante-emv.com/elementosWeb/img/especiales/bg_transp_border.png); color:#333; font-weight:bold;}
.esp .noticia3col .ppal3col .noActive a:hover span { color:#999;}
.esp .noticia3col .ppal3col ul h2 { margin: 0px; font-size:13px; }


.esp .columnaizdaglobal{margin:10px 0px; padding:5px 7px 7px 5px; width:650px; float:left; border-right:1px dotted #ccc;}
.esp .columnadchaglobal {margin:10px 0px; padding:5px 5px 7px 0px; width:315px; float:right; overflow:hidden;}
.esp .columnaizdaglobal .noticiashome{}

.esp .columnadchaglobal h2{ margin:0; padding:0 0 4px; font-size:18px; color:#3a3a3a; border-bottom: 1px solid #666666; background: }


/*/////////////////M”DULO NOTICIAS VERTICAL/////////////////////////////////*/
.esp .noticia3col .ppal3col_vertical{
	width: 990px;
	position: relative;
}
.esp .noticia3col .ppal3col_vertical ul{
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 60px;
	right: 0px;
	width: 290px;
}
.esp .noticia3col .ppal3col_vertical ul li {
	background-color: transparent;
	list-style-type: none;
	display: block;
	background-attachment: scroll;
	background-image: url(http://www.levante-emv.com/elementosWeb/img/especiales/bg_transp02.png);
	background-repeat: repeat;
	background-position: 0 0;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	padding: 4px 10px 4px 4px;
}
.esp .noticia3col .ppal3col_vertical ul li img{
	float: left;
	margin-right: 10px;
	border: 1px solid #FFF;
	width: 100px;
	height: 45px;
}
.esp .noticia3col .ppal3col_vertical ul li h4{
	font-family: Arial;
	font-size: 13px;
	color: #000;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	line-height: normal;
}
.esp .noticia3col .ppal3col_vertical ul li h4 a{
	font-family: Arial;
	font-size: 13px;
	color: #000;
	text-decoration:none;
}
.esp .noticia3col .ppal3col_vertical ul li h4 a:hover{
	text-decoration:none;
	color: #494949;
}
.esp .noticia3col .ppal3col_vertical .borrar{
	line-height: 1px;
	height: 1px;
	clear: both;
}
.esp .noticia3col .ppal3col_vertical .selec  {
	background-color: transparent;
	background-attachment: scroll;
	background-image: url(http://www.levante-emv.com/elementosWeb/img/especiales/bg_transp_negro.png);
	background-repeat: repeat;
	background-position: 0 0;
	font-family: Arial;
	font-size: 14px;
	color: #FFF;
}
.esp .noticia3col .ppal3col_vertical .selec h4 a{
	font-family: Arial;
	font-size: 13px;
	color: #FFF;
}
.esp .noticia3col .ppal3col_vertical .selec h4 a:hover{
	text-decoration:none;
	color: #AEAEAE;
}

/*//////////////// fin m√≥dulo noticias vertical///////////////////////////*/


/* BLOQUES PRINCIPAL Y EN 2 COLUMNAS */
.esp .noticia2col {width:650px; margin: 0px 20px 20px 0px; overflow:hidden; float:left; display: inline}
.esp .noticia2col a { color: #196CA5; text-decoration:none}
.esp .noticia2col a:hover {†color:†#183b53;†text-decoration:†none; }

.esp .noticia2col .basic2col a img { width:650px; float:left; border:none; display:block}
.esp .noticia2col .basic2col a:hover img {opacity: 0.7; -moz-opacity: 0.7; -webkit-opacity: 0.7; filter:alpha(opacity=70);}
.esp .noticia2col .basic2col h2 { margin:0px; text-decoration:none; font-size:24px; margin-top:0px; padding-top:0px;}
.esp .noticia2col .basic2col h2 a {color:#1759a6; text-decoration:none; margin:3px 0px 0px 0px;}
.esp .noticia2col .basic2col h2 a:hover { color: #666;}
.esp .noticia2col .basic2col .fecha { font-size:11px;}
.esp .noticia2col .basic2col .autoria { font-size:11px; color:#1759a6;}
.esp .noticia2col .basic2col .autoria a {color:#1759a6; font-weight:bold;}
.esp .noticia2col .basic2col .autoria a:hover {color:#666; font-weight:bold;} 
.esp .noticia2col .basic2col p { font-size:12px;}
.esp .noticia2col .basic2col a .piedefoto {background-color:#000; color:#eee; font-size:11px; height:15px; padding:0 0 0 3px;}
.esp .noticia2col .basic2col .piedefoto { background-color:#0F3; color:#0F3}

.esp .noticia2col .cajas { position:relative; left:0px; bottom:0px; height:55px; z-index:10008; padding-top:4px; margin-bottom:15px; background-image:url(http://www.levante-emv.com/elementosWeb/img/especiales/bg_transp.png); }
.esp .noticia2col .parrafo {display:block; float:left; position:relative; font-size:11px; padding:5px 7px; color:#000; background-color:#eee; width: 100%;}
.esp .noticia2col .parrafo span{color:#1759a6; font-weight:bold; padding:4px 0px;}
.esp .noticia2col .parrafo a { text-decoration:none; color:#1759a6; }
.esp .noticia2col .parrafo a:hover {text-decoration:underline;}

.esp .noticia2col .ppal2col {float:left; width:100%; font-size:14px; line-height:1em;}
.esp .noticia2col .ppal2col ul {margin:0; padding:0px 0px 0px 0px; list-style:none;}
.esp .noticia2col .ppal2col li {display:inline; margin:0; padding:0;}
.esp .noticia2col .ppal2col a { float:left; margin:0; padding:0 0 0 0px; text-decoration:none; }
.esp .noticia2col .ppal2col .enlaceImg { float:none; margin:0; padding:0 0 0 0px; text-decoration:none; }
.esp .noticia2col .ppal2col a span { float:left; display:block; padding:2px 15px 4px 6px; color:#84776B; width:195px; height:49px;}
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
.esp .noticia2col .ppal2col a span {float:none;}
    /* End IE5-Mac hack */
.esp .noticia2col .ppal2col a:hover span { color:#333; }
.esp .noticia2col .ppal2col .current a { color:#FFF;}
.esp .noticia2col .ppal2col .current a span {background:url(http://www.levante-emv.com/elementosWeb/img/especiales/fondoAzul.png) no-repeat; color:#FFF; font-size:11px; font-weight:bold;}
.esp .noticia2col .ppal2col .current a:hover span { color: #CCC;}
.esp .noticia2col .ppal2col .noActive a { color:#333; }
.esp .noticia2col .ppal2col .noActive a span { background:url(http://www.levante-emv.com/elementosWeb/img/especiales/bg_transp_border.png); color:#333; font-weight:bold; font-size:11px;}
.esp .noticia2col .ppal2col .noActive a:hover span { color:#999;}
.esp .noticia2col .ppal2col ul h2 { margin: 0px; font-size:13px; }

/*/////////////////modulo noticias 2 COLUMNAS VERTICAL //////////////////////////////*/
.esp .noticia2col .ppal2col_vertical{
	width: 650px;
	position: relative;
}
.esp .noticia2col .ppal2col_vertical ul{
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 25px;
	right: 0px;
	width: 270px;
}
.esp .noticia2col .ppal2col_vertical ul li {
	background-color: transparent;
	list-style-type: none;
	display: block;
	background-attachment: scroll;
	background-image: url(http://www.levante-emv.com/elementosWeb/img/especiales/bg_transp02.png);
	background-repeat: repeat;
	background-position: 0 0;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding: 5px;
}
.esp .noticia2col .ppal2col_vertical ul li img{
	float: left;
	margin-right: 10px;
	border: 1px solid #FFF;
	width: 100px;
	height: 37px;
}
.esp .noticia2col .ppal2col_vertical ul li h4{
	font-family: Arial;
	font-size: 12px;
	color: #000;
	margin: 0px;
	padding: 0px;
	font-weight: normal;
	line-height: normal;
}
.esp .noticia2col .ppal2col_vertical ul li h4 a{
	font-family: Arial;
	font-size: 11px;
	color: #000;
	text-decoration:none;
}
.esp .noticia2col .ppal2col_vertical ul li h4 a:hover{
	text-decoration:none;
	color: #494949;
}
.esp .noticia2col .ppal2col_vertical .borrar{
	line-height: 1px;
	height: 1px;
	clear: both;
}
.esp .noticia2col .ppal2col_vertical .selec  {
	background-color: transparent;
	background-attachment: scroll;
	background-image: url(http://www.levante-emv.com/elementosWeb/img/especiales/bg_transp_negro.png);
	background-repeat: repeat;
	background-position: 0 0;
	font-family: Arial;
	font-size: 12px;
	color: #FFF;
}
.esp .noticia2col .ppal2col_vertical .selec h4 a{
	font-family: Arial;
	font-size: 11px;
	color: #FFF;
}
.esp .noticia2col .ppal2col_vertical .selec h4 a:hover{
	text-decoration:none;
	color: #AEAEAE;
}
/*/////////////////FIN m√≥dulo noticias 2 columnas vertical//////////////////////////////*/


/* BLOQUE NOTICIAS EN 1 COLUMNA */
.esp .noticia1col {width:315px; margin: 0px 0px 20px 0px; overflow:hidden; float:left; display: inline}
.esp .noticia1col a { color: #196CA5; text-decoration:none}
.esp .noticia1col a img { width:315px; float:left; border:none; display:block}
.esp .noticia1col a:hover img {opacity: 0.7; -moz-opacity: 0.7; -webkit-opacity: 0.7; filter:alpha(opacity=70);}
.esp .noticia1col h2 { margin:0px; text-decoration:none}
.esp .noticia1col h2 a {color:#1759a6; font-size:18px; text-decoration:none; margin:3px 0px 0px 0px;}
.esp .noticia1col h2 a:hover { color: #666;}
.esp .noticia1col .fecha { font-size:11px;}
.esp .noticia1col .autoria { font-size:11px; color:#1759a6;} 
.esp .noticia1col  .autoria a {color:#1759a6; font-weight:bold;} 
.esp .noticia1col  .autoria a:hover {color:#666; font-weight:bold;} 
.esp .noticia1col p { font-size:12px;}
.esp .noticia1col  a .piedefoto {background-color:#000; color:#eee; font-size:11px; height:15px; padding:0 0 0 3px;}
.esp .noticia1col  .piedefoto { background-color:#0F3; color:#0F3}
.esp .noticia1col .epigrafePortada a { color: #333333; font-size: 14px; font-weight: bold; line-height:20px; }
.esp .noticia1col .epigrafePortada a:hover { text-decoration:none; color:#999999; }


/* PACK NOTICIAS 1 COLUMNA*/
.esp .noticia1col_linea {width:310px; margin: 0px 0px 15px 0px; overflow:hidden; float:left; display: inline}
.esp .noticia1col_linea a {text-decoration:none;}
.esp .noticia1col_linea a img { width:120px; float:left; border:none; display:block; margin-right:5px;}
.esp .noticia1col_linea a:hover img {opacity: 0.7; -moz-opacity: 0.7; -webkit-opacity: 0.7; filter:alpha(opacity=70);}
.esp .noticia1col_linea h4 { margin:0px; text-decoration:none}
.esp .noticia1col_linea h4 a{color:#1759a6; font-size:13px; text-decoration:none; margin:0px;}
.esp .noticia1col_linea h4 a:hover { color: #666;}
.esp .noticia1col_linea .fecha { font-size:11px;}
.esp .noticia1col_linea .autoria { font-size:11px; color:#1759a6;} 
.esp .noticia1col_linea .autoria a {color:#1759a6; font-weight:bold;}
.esp .noticia1col_linea .comentarios { font-size:11px; margin-top:5px;} 
.esp .noticia1col_linea .comentarios a {color:#1759a6; font-weight:bold;} 
.esp .noticia1col_linea .comentarios a:hover {color:#666; font-weight:bold;} 
.esp .noticia1col_linea p { font-size:12px;}
.esp .noticia1col_linea a .piedefoto {background-color:#000; color:#eee; font-size:11px; height:15px; padding:0 0 0 3px;}
.esp .noticia1col_linea .piedefoto { background-color:#0F3; color:#0F3}
/*MENUagrupacion*/
.esp .menuAgrupacion {float:left; width:100%; text-transform:; font-weight:bold; font-size:12px; line-height:normal; border-bottom:2px solid #1759a6;}
.esp .menuAgrupacion ul {margin:0; padding:5px 0px 5px 0px; list-style:none;}
.esp .menuAgrupacion li {display:inline; margin:0; padding:0;}
.esp .menuAgrupacion a {float:left; margin:0; padding:0px; text-decoration:none; border-right: 1px solid #ddd;}
.esp .menuAgrupacion a span {float:left; display:block; padding:5px 10px; color:#292b34;}
	/* Commented Backslash Hack hides rule from IE5-Mac \*/
.esp .menuAgrupacion a span {float:none;}
	/* End IE5-Mac hack */
.esp .menuAgrupacion a:hover span {color:#1759a6;}
.esp .menuAgrupacion .current a span { background-color:#1759a6; color:#fff;}





/* PACK NOTICIAS MEDIA COLUMNA */
.esp .noticiamediacol {width:150px; margin: 0px 0px 20px 0px; overflow:hidden; float:left; display: inline}
.esp .noticiamediacol a {text-decoration:none}
.esp .noticiamediacol a img { width:150px; float:left; border:none; display:block}
.esp .noticiamediacol a:hover img {opacity: 0.7; -moz-opacity: 0.7; -webkit-opacity: 0.7; filter:alpha(opacity=70);}
.esp .noticiamediacol h4 { margin:0px; text-decoration:none}
.esp .noticiamediacol h4 a {color:#1759a6; font-size:13px; text-decoration:none; margin:0px;}
.esp .noticiamediacol h4 a:hover { color: #666;}
.esp .noticiamediacol .fecha { font-size:11px; color:#000;}
.esp .noticiamediacol .autoria { font-size:11px; color:#1759a6;} 
.esp .noticiamediacol .autoria a {color:#1759a6; font-weight:bold;} 
.esp .noticiamediacol .autoria a:hover {color:#666; font-weight:bold;} 
.esp .noticiamediacol p { font-size:12px;}



/* OTROS TITULARES, LISTADO DE TITULARES */
.esp .otrostitulares {margin: 0px 5px 20px 0px; overflow:hidden; float:left; display: inline; width:100%;}
.esp .otrostitulares .titulo { font-size:14px; color:#eee; background-color:#1759a6; padding:4px; float:left; display:block;}
.esp .otrostitulares .titulo a { color:#eee; text-decoration:none;}
.esp .otrostitulares .titulo a:hover { color:#ccc;}
.esp .otrostitulares .titulo h3 { margin:0px; font-weight:normal; font-size:14px;} 
.esp .otrostitulares .mas { font-size:11px; font-weight:bold; color:#eee; background-color:#292b34; padding:4px 10px 4px 4px; float:left; display:block;}
.esp .otrostitulares .mas a { color:#eee; text-decoration:none;}
.esp .otrostitulares .mas a:hover { color:#ccc;}
.esp .otrostitulares .fecha { font-size:12px; color:#1759a6; margin-right:5px;} 
.esp .otrostitulares li {font-size:12px; list-style-image: url(http://www.levante-emv.com/elementosWeb/img/especiales/punto_li.png); list-style-position:outside; margin-bottom:8px;}
.esp .otrostitulares li a { color:#000000; text-decoration:none;}
.esp .otrostitulares li a:hover { color:#1759a6;}
.esp .otrostitulares li h4 { display:inline; font-weight:normal; font-size:12px;}



/* CAJA TWITTER */
.esp .twitter { background-color:#eeeeee; border: 1px solid #dfdfdf; float:left; display: inline; height:250px; overflow: hidden; margin: 5px 0px;}



/* ENCUESTA */
.esp .encuesta {border:1px solid #CCC; padding:10px; padding-top:1px; margin: 0px 0px 20px 0px; overflow:hidden; float:left; display: block; width:295px;}
.esp .encuesta a {text-decoration:none}
.esp .encuesta a h4{color:#1759a6; font-size:13px; text-decoration:none; margin:0px;}
.esp .encuesta a:hover h4{ color: #666;}
.esp .encuesta h4 { margin:0px; text-decoration:none; color:#1759a6; font-size:13px;}
.esp .encuesta .titulo-encuesta {text-transform:uppercase; color:#1759a6; font-size:13px; background-image:url(http://www.levante-emv.com/elementosWeb/img/especiales/ico_encuesta.png); background-repeat:no-repeat; background-position:left; padding:14px 8px 14px 40px;}
.esp .encuesta .titulo-encuesta h3 { margin:0px; text-decoration:none; color:#1759a6; font-size:13px; font-weight:normal;}
.esp .encuesta .titulo-encuesta a h3{ text-decoration:none; margin:0px;}
.esp .encuesta .opcion {font-size:12px; display:block; padding:3px 0px 0px 15px}
.esp .encuesta .votar input {background-color:#1759a6; color:#fff; border:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:7px 6px 0px 0px; padding:3px; cursor:pointer;}
.esp .encuesta .votar input hover {background-color:red; color:#fff; border:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:7px 6px 0px 0px; padding:3px; cursor:pointer;}
.esp .encuesta .verresultados a {background-color:#dddddd; color:#000; border:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:7px 6px 0px 0px; padding:3px;}

.esp .encuestas { line-height: 13px; }
.esp .encuestas .servicios_cintillo_resp { color: #003969; font-family: Tahoma,Arial,Helvetica; font-size: 11px; font-weight: bold; line-height: 16px; text-decoration: none; text-transform: uppercase; }
.esp .encuestas .divEspecialesTitular { color: #000000; font-family: Tahoma,Arial,Helvetica; font-size: 11px; font-weight: bold; line-height: 16px; text-decoration: none; }
.esp .encuestas .servicios_si { background-color: #003968; }
.esp .encuestas .servicios_no { background-color: #E0E4EF; }
.esp .encuestas .divEspecialesTexto { color: #000000; font-family: Tahoma,Arial,Helvetica,sans-serif; font-size: 12px; font-weight: normal; line-height: 13px; margin: 0 5px 0 0; text-decoration: none;}


/* FOROS */
.esp .foros {border:1px solid #CCC; padding:10px; padding-top:1px; margin: 0px 0px 20px 0px; overflow:hidden; float:left; display: block; width:295px;}
.esp .foros a {text-decoration:none}
.esp .foros h4 a{color:#1759a6; font-size:13px; text-decoration:none; margin:0 0 5px;}
.esp .foros h4 a:hover { color: #666;}
.esp .foros .titulo-foros {text-transform:uppercase; color:#1759a6; font-size:13px; background-image:url(http://www.levante-emv.com/elementosWeb/img/especiales/ico_foro.png); background-repeat:no-repeat; background-position:left; padding:14px 8px 14px 40px;}
.esp .foros .titulo-foros h3 { margin:0px; text-decoration:none; color:#1759a6; font-size:13px; font-weight:normal;}
.esp .foros .titulo-foros h3 a{ text-decoration:none; margin:0px;}
.esp .foros .mas-foros a {background-color:#1759a6; color:#fff; border:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:7px 6px 0px 0px; padding:3px; cursor:pointer;}
.esp .foros .mas-foros a hover {background-color:red; color:#fff; border:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:7px 6px 0px 0px; padding:3px; cursor:pointer;}


/* BUSCADOR */
.esp .buscador {width:313px; border:1px solid #ccc; padding:5px 0px; font-size:11px; color:#1759a6; text-align:center;}
.esp .buscador  input {border: 1px solid #ccc; background-color:#efefef; font-size:11px; font-family:Arial, Helvetica, sans-serif; color:#333; width:200px; padding:3px; padding-left:3px;}
.esp .buscador img { border:none;}



/* PUBLICIDAD */
.esp .cajapublicidad {width:313px; border:1px solid #ccc; padding-bottom:3px; font-size:9px; color: #999; text-align:center; background-color:#efefef;}
.esp .cajapublicidad p {text-align:left; padding-left:6px;}



/* PIE DE PAGINA */
.esp .pie{ text-align:right; color: #292b34; font-weight:bold; font-size:11px;}
.esp .pie a{ color:#292b34; padding-right:0px; text-decoration:none;}
	
	
/*MENU INFERIOR*/
.esp .menuInferior {float:left; width:990px; font-weight:bold; font-size:12px; line-height:normal; background-color:#1759a6;}
.esp .menuInferior ul {margin:0; padding:5px 0px 5px 1px; list-style:none;}
.esp .menuInferior li {float:left; display:inline; margin:0; padding:0; border-right: 1px solid #eee;}
.esp .menuInferior a { margin:0; padding:0px; text-decoration:none;}
.esp .menuInferior span {float:left; display:block; padding:5px 10px; color:#eee;}
	/* Commented Backslash Hack hides rule from IE5-Mac \*/
.esp .menuInferior a span {float:none;}
	/* End IE5-Mac hack */
.esp .menuInferior a:hover span {color: #CCC;}
.esp .menuInferior .current a span { background-color:#ffffff; color:#1759a6;}
.esp .menuInferior li h2{font-size:12px; margin: 0px;}
.esp .menuInferior li h3{font-size:12px; margin: 0px;}


	/*MENUPrensaIberica*/
.esp .menuPrensaIberica {float:left; width:970px; font-weight:bold; font-size:12px; line-height:normal; background-color:#333; color:#fff; text-align:left; padding:10px; margin-top:3px;}
.esp .menuPrensaIberica ul {margin:0; padding:2px 0px 2px 1px; list-style:none;  font-size:11px;}
.esp .menuPrensaIberica li {display:inline; margin:0; padding:0;}
.esp .menuPrensaIberica a {float:left; margin:0; padding:0px; text-decoration:none; border-right: 1px solid #999;}
.esp .menuPrensaIberica a span {float:left; display:block; padding:0px 4px; color: #999;}
	/* Commented Backslash Hack hides rule from IE5-Mac \*/
.esp .menuPrensaIberica a span {float:none;}
	/* End IE5-Mac hack */
.esp .menuPrensaIberica a:hover span {color:#fff;}




/* RESETEO CSS */
.esp p {margin: 0; padding: 0; border: 0; outline: 0; font-weight: normal; font-style: normal; font-size: 100%; vertical-align: baseline}
/* /RESETEO CSS */


/* MODULO SIN DEFINIR */
.esp .sin_definir {border:1px solid #CCC; padding:10px; padding-top:1px; margin: 0px 0px 20px 0px; overflow:hidden; float:left; display: block;font-size:12px;width:95%;}


/* NOTICIA DESARROLLADA */
.esp .noticia_desarrollada .cintillo { font-size: 11px; }
.esp .noticia_desarrollada .epigrafe { font-size: 11px; }
.esp .noticia_desarrollada .epigrafe a{font-size: 11px;text-decoration:none;}
.esp .noticia_desarrollada .epigrafe a:hover{font-size: 11px;text-decoration:none;color:#999;}
.esp .noticia_desarrollada .subtitulo { color: #1759A6; font-size: 11px; }
.esp .noticia_desarrollada .antetitulo { font-size: 11px; }
.esp .noticia_desarrollada h1 {font-size: 24px; color: #1759A6; margin: 3px 0 0; padding-top: 0;}
.esp .noticia_desarrollada .cuadro_multimedia { clear: left; float: right; padding-left: 10px; width: 315px;margin-top:10px;}
.esp .noticia_desarrollada .cuadro_multimedia img { border: medium none; display: block;}
.esp .noticia_desarrollada .piedefoto { background-color: #000000; color: #EEEEEE; font-size: 11px; height: 15px; padding: 0 0 0 3px;}
.esp .noticia_desarrollada .noticia_texto p { margin: 13px; }
.esp .noticia_desarrollada .noticia_texto h2, .esp .noticia_desarrollada .noticia_texto p {color: #000000; font-family: Arial,Helvetica,sans-serif; font-size: 75%; font-style: normal;font-weight: normal;line-height: 18px; }
.esp .noticia_desarrollada .noticia_texto h2, .esp .noticia_desarrollada .noticia_texto p .palabra_clave{ color: #1759A6; text-decoration:none; font-weight:bold;}
.esp .noticia_desarrollada .noticia_texto p a{color:#1759A6;text-decoration:none;}
.esp .noticia_desarrollada .noticia_texto p a:hover{text-decoration:none;color:#999;}
/* ETIQUETAS PORTADA VISUAL*/
.esp .divPortadaVisual {
  background-position:50% 0;
  background-repeat:no-repeat no-repeat;
  margin-left:auto;
  margin-right:auto;
}
.esp .divPortadaVisual h1 {
  color:transparent;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  text-decoration:none;
}
.esp .divPortadaVisual .menu_verticalIzq {
  padding-left:0px;
  padding-top:200px;
  text-align:left;
}
.esp .divPortadaVisual .menu_verticalDcha {
  padding-left:665px;
  padding-top:200px;
  text-align:left;
}
.esp .divPortadaVisual .menuPortadaVisual_vertical {
  width:320px;
}
.esp .divPortadaVisual .menuPortadaVisual_vertical ul {
  list-style-type:none;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
  padding-top:0;
}
.esp .divPortadaVisual .menuPortadaVisual_vertical li {
  color:#666666;
  font-family:Tahoma, Arial, Helvetica, sans-serif;
  list-style-image:none;
  list-style-position:inside;
  list-style-type:none;
  margin-bottom:-14px;


}
.esp .divPortadaVisual .menuPortadaVisual_vertical li span {
  background:url(http://www.levante-emv.com/elementosWeb/img/especiales/bg.png);
  color:#000000;
  display:block;
  font-family:Arial, Helvetica, sans-serif;
  font-size:14px;
  font-weight:bold;
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  padding-bottom:10px;
  padding-left:25px;
  padding-right:3px;
  padding-top:10px;
  text-decoration:none;
  width:93%;
}

.esp .divPortadaVisual .menuPortadaVisual_vertical li span:hover {
	text-decoration:underline;
	color:#000;
	background:url(http://www.levante-emv.com/elementosWeb/img/especiales/bgHover.png);
}

.esp .divPortadaVisual .menuPortadaVisual_vertical li a{
	text-decoration:none;
}

.esp .divPortadaVisual .menuPortadaVisual_vertical li a:hover{
	text-decoration:underline;
	color:#000;
	background:url(http://www.levante-emv.com/elementosWeb/img/especiales/bgHover.png);
}




/* ZONA COMENTARIOS DE LA NOTICIA DESARROLLADA*/

.esp .comentarios{margin-right: 95px; padding-top: 10px; padding-right: 0px; padding-bottom: 10px; padding-left: 0px; line-height: normal;color: #333333;margin-top: 5px;font-size: 13px; width: 100%}
.esp .comentarios_envio { font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; text-decoration:none; color: #000000; margin: 0px 5px 0px 0px; line-height: 13px;}

.esp .comentarios h2 {font-size: 24px; color: #1759A6; margin: 3px 0 0; padding-top: 0;}
.esp .comentarios .fin_noticia 			{border-color: #666666; border-top: 1px dotted #CCCCCC; clear: left; font-weight: normal; margin: 0 0 2px; padding: 0 2px 5px;    top: -5px;}
.esp .comentarios .bloqueclear 			{clear: left; font-size: 1px; height: 4px; margin: 0; width: auto;}

.esp .contenedor_paginado {height: 15px; float: right; margin-top: -23px; padding-right: -10px;}
.esp .contenedor_paginado2 {height: 15px; float: right; margin-top: 0px; padding-right: 0px;}
.esp .paginado_comentarios{font-family: Tahoma, Arial, Helvetica; font-size: 11px; padding-top: 2px; padding-right: 5px; padding-bottom: 2px; padding-left: 5px; color: #909090; border-right-width: 1px; border-right-style: solid; border-right-color: #C7C7C7;}
.esp .paginado_comentarios  a{font-family: Tahoma, Arial, Helvetica; font-size: 11px; color: #909090;}
.esp .paginado_comentarios a:hover{font-family: Tahoma, Arial, Helvetica; font-size: 11px; color: #BBBBBB;}
.esp .paginado_seleccionado {font-family: Tahoma, Arial, Helvetica; font-size: 11px; padding-top: 2px; padding-right: 5px; padding-bottom: 2px; padding-left: 5px; color: #333333; border-right-width: 1px; border-right-style: solid; border-right-color: #C7C7C7; font-weight: bold;}
.esp .paginado_ultimo a{font-family: Tahoma, Arial, Helvetica; font-size: 11px; padding-top: 2px; padding-right: 5px; padding-bottom: 2px; padding-left: 5px; color: #909090;}
.esp .paginado_ultimo a:hover{font-family: Tahoma, Arial, Helvetica; font-size: 11px; padding-top: 2px; padding-right: 5px; padding-bottom: 2px; padding-left: 5px; color: #BBBBBB;}

.esp .avatar{float: left; width: 64px;}
.esp .comentarios .contenido{margin-left: 70px;}
.esp .comentarios .comentario{background-color: #ffffff;}
.esp .comentarios .destacado{border: 0px solid #003969;color: #000000;background: #f6f2b2 url('http://www.levante-emv.com/elementosWeb/mediaweb/images/comentarios/fondo_chincheta.jpg') repeat-y;/*padding: 2px;*/, margin-top: 10px;padding-left: 35px;}
.esp .comentarios .votosComentarios{float: right;width: 90px; font-size:11px; color: #003969;}
.esp .comentarios .votosComentarios a{float: right;width: 90px; font-size:11px; color: #003969;text-decoration:underline;}
.esp .comentarios .votosComentarios a:hover{float: right;width: 90px; font-size:11px; color: #003969; text-decoration:underline;}
.esp .comentarios .votacionPositiva{margin-left: 27px;width: 36px;height: 23px;background: url('http://www.levante-emv.com/elementosWeb/mediaweb/images/comentarios/votos.jpg');}
.esp .comentarios .votacionNegativa{margin-left: 27px;width: 36px;height: 23px;background: url('http://www.levante-emv.com/elementosWeb/mediaweb/images/comentarios/votos_rojos.jpg');}
.esp .comentarios .votacionNeutra{margin-left: 27px;width: 36px;height: 23px;background: url('http://www.levante-emv.com/elementosWeb/mediaweb/images/comentarios/votos_gris.jpg');}
.esp .comentarios .votacionPositiva div, .votacionNegativa div, .votacionNeutra div{padding: 3px;padding-top: 2px;padding-bottom: 18px;padding-right: 10px;line-height: 10px;text-align: center;font-size: 10px;color: white;font-weight: bold;}
.esp .comentarios .numVotos{text-align: center;font-size: 9px;}
.esp .comentarios .comentarios_naranja {font-size: 10px; font-weight: normal; color: #F3A60A; font-family: Tahoma,Arial,Helvetica; font-style: normal;}
.esp .comentarios .idComentario{font-size: 11px;font-weight: bold;}
.esp .comentarios .comentario-izq{width: 28px;float: left;margin: -5px;margin-left: -35px; margin-top: -17px;}
.esp .comentarios .comentario-inf{height: 21px;background: url('http://www.levante-emv.com/elementosWeb/mediaweb/images/comentarios/pie_comentario.jpg') no-repeat right;margin-right: -7px; margin-bottom: -18px;}
 	
.esp .info_comentarios{color: #F3A60A;margin: 10px;font-size: 12px;font-style: italic;font-weight: bold;}		
.esp .info_comentarios a{color: #003969;font-size: 12px;font-style: italic;font-weight: bold;}
 
.esp .comentar{ width: 650px; position: relative;}
.esp .comentar .comentar_superior{ width: 650px; background-color: #E8E8E8; height: 9px; margin: 0px; padding: 0px;} 
.esp .comentar .comentar_central{ width: 650px; background-color: #E8E8E8; margin: 0px; padding-top: 10px; padding-right: 0px; padding-bottom: 10px; padding-left: 0px;}
.esp .comentar .comentar_central .bot_desconectar span{ font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #0296ad; line-height: 23px; background-image: url(http://www.levante-emv.com/elementosWeb/mediaweb/images/comentarios/bot_desconectar.png); background-repeat: no-repeat; height: 23px; width: 107px; position: absolute; top: -1px; right: 15px; /*text-decoration: none!important;*/}
.esp .comentar .comentar_central .bot_desconectar a{ text-decoration: none;}
.esp .comentar .comentar_central .bot_desconectar a: hover{ text-decoration: none;}
.esp .comentar .comentar_central .bot_desconectar a span{ font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #0296ad; line-height: 23px; background-image: url(http://www.levante-emv.com/elementosWeb/mediaweb/images/comentarios/bot_desconectar.png); background-repeat: no-repeat; height: 23px; width: 107px; position: absolute; top: -1px; right: 15px; text-decoration: none;}
.esp .comentar .comentar_central .bot_desconectar a: hover span{ font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #00c7e6; line-height: 23px; background-image: url(http://www.levante-emv.com/elementosWeb/mediaweb/images/comentarios/bot_desconectar_over.png); background-repeat: no-repeat; height: 23px; width: 107px; position: absolute; top: -1px; right: 15px; text-decoration: none!important;}
.esp .comentar .comentar_central .titular_avatar{ font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #0f324e; position: absolute; width: 450px; left: 85px; top: 25px;}
.esp .comentar .comentar_central .titular_avatar a{ font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #0f324e; text-decoration: none;}
.esp .comentar .comentar_central .titular_avatar a: hover{ text-decoration: underline;}
.esp .comentar .comentar_central .titular_avatar .sub_avatar{ font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #218e9f; margin-top: 5px;}
.esp .comentar .comentar_central .titular_avatar .sub_avatar a{ font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #218e9f; text-decoration: none;}
.esp .comentar .comentar_central .titular_avatar .sub_avatar a: hover{ text-decoration: underline;}
.esp .comentar .comentar_central .avatar{width: 64px;border-right-width: 2px;border-bottom-width: 2px;border-top-style: none;border-right-style: solid;border-bottom-style: solid;border-right-color: #BBB;border-bottom-color: #BBB;position: absolute;left: 10px;top: 0px;overflow: hidden;background-color: #FFF;height: 64px;}
.esp .comentar .comentar_central .caja_comentario{ height: 115px; width: 615px; background-color: #fbfbfb; border: 1px solid #b9c3c1; margin-top: 60px; margin-left: 10px; padding: 5px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #666; line-height: 14px;}
.esp .comentar .comentar_central .texto_formulario{ font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #218e9f; margin-top: 5px; float: left;}
.esp .comentar .comentar_central .posi_bot{ margin-right: 13px; float: right; margin-top: 5px;}
.esp .comentar .comentar_central .posi_bot .bot{ line-height: 23px; background-color: #fbfbfb; height: 23px; width: 125px; border: 1px solid #b9c3c1; font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #298492;}
.esp .comentar .comentar_central .caja_chek{ background-color: #fbfbfb; border: 1px solid #b9c3c1; margin-right: 3px; margin-left: 10px;}
.esp .comentar .comentar_central .texto_normas{ font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #70777c; margin-right: 15px; margin-left: 15px; margin-top: 5px;}
.esp .comentar .comentar_central .texto_normas span{ font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #1295ab;}
.esp .comentar .pie_comentar{ height: 16px; width: 650px; margin: 0px; padding: 0px;}
.esp .comentar .separador{ clear: both; height: 1px; line-height: 1px;}
 
.esp .comentar .comentar_central .texto_formulario a{font-family: Arial, Helvetica, sans-serif;font-size: 10px;color: #218e9f;text-decoration: underline;}
.esp .comentar .comentar_central .texto_formulario a: hover{text-decoration: none;} 
 
.esp .comentar .txt_registro{ font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #0296ad; margin-right: 10px; margin-left: 10px;  }
.esp .comentar .txt_registro a{ font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #0296ad; text-decoration: underline;  }
.esp .comentar .txt_registro a: hover{ text-decoration: none;}
 
.esp .txt_nota_editor{ font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #70777c; background-color: #e8e8e8; padding-top: 5px; padding-right: 10px; padding-bottom: 5px; padding-left: 10px;  }
.esp .txt_nota_editor a {text-decoration:underline; color: #70777c; }
.esp .txt_nota_editor a:hover {text-decoration:underline; color: #70777c; }

.esp .txt_nota_editor .editor{ font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #0296ad; margin-bottom: 5px;  }



.esp .mensajeAlmacenarComentario { color: #85A0C6; float: none; font-family: Tahoma,Arial,Helvetica; font-size: 12px; font-weight: bold;margin-bottom: 3px;margin-top: 3px;}
.esp .mensajeAlmacenarComentario_cerrar { color: #666666;font-family: Arial,Helvetica,sans-serif;font-size: 10px;text-decoration: none;}

/* GALERÕA DE FOTOS A 1 COLUMNA*/
/*.esp .ver_foto_galeria a img{
                float:none !important;
}*/

.cont_fotog1col {border:1px solid #CCC; padding-top:1px; margin: 0px 0px 20px 0px; overflow:hidden; float:left; width:312px;}
.cont_fotog1col .separador{clear:both;}
.cont_fotog1col .foto_principal{width:312px; height:181px; padding:7px;	position: relative;	margin-bottom: 5px;	background-image:url(http://www.levante-emv.com/elementosWeb/img/especiales/bggg.gif); background-repeat:repeat;} 
.cont_fotog1col .foto_principal .cajatexto{position: absolute;background-image: url(http://www.levante-emv.com/elementosWeb/img/especiales/fondo_txt_wdg.png); height: 44px; width: 312px; bottom: 8px; left: 0px; right: 0px;}
.cont_fotog1col .foto_principal .cajatexto .bot_play{height: 29px; width: 29px;	position: absolute;	top: -130px; left: 265px;}
.cont_fotog1col .foto_principal .cajatexto .bot_play a{text-decoration:none;}
.cont_fotog1col .foto_principal .cajatexto .bot_play a:hover{text-decoration:none;}
.cont_fotog1col .foto_principal .cajatexto .texto{ margin: 8px 5px 1px 5px;}
.cont_fotog1col .foto_principal .cajatexto .texto h3 a{font-family: Arial, Helvetica, sans-serif; font-size: 14px;	font-weight: normal; color: #FFF; text-decoration:none;}
.cont_fotog1col .foto_principal .cajatexto .texto h3 a:hover{ color:#999;}
.cont_fotog1col .contenedor_horiz{ padding: 6px 3px;}
.cont_fotog1col .contenedor_horiz .otrasgalerias { font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight: bold; text-align:right; padding: 0 5px 0 0;}
.cont_fotog1col .contenedor_horiz .otrasgalerias a {color:#000; text-decoration: none;}
.cont_fotog1col .contenedor_horiz .otrasgalerias a:hover { color:#666;}


/*** COPIADOS DE VIDA Y ESTILO ***/
	.secciones .imagensec{float: left; /*background-color: #EAEAEA;*/ text-align:center;}
	.secciones .textosec{float: none; width: auto; padding-left: 20px; height:90px; max-height:90px;}
	.secciones .textosec_sinimagen{float: none; width: auto}
	.secciones .textosec h3{ margin:0; padding:0;}
	.secciones .textosec h3 a{ color: #1759A6;font-size: 18px;margin:0;text-decoration: none; padding:0;}
	.secciones .textosec h3 a:hover{ color:#666666;}
	.secciones .textosec .autoria{font-size: 11px;}
	.secciones .textosec .autoria a {color: #1759A6;font-weight: bold; text-decoration:none;}
	.secciones .textosec .autoria a:hover{color:#666666;}
	.secciones .textosec .texto{ max-height:55px;; padding-left:215px;}
	.secciones .textosec .texto p{ color:#666666; font-size:12px; overflow:hidden; }
	.secciones .textosec .texto p a{ color: #196CA5; text-decoration: none;} 
	.secciones .textosec .texto .fecha{ color:#1759a6; font-weight:bold; font-size:12px; margin-right: 2px;}

	/*.secciones .apoyos-l{ float:left; width:70px; padding-right:15px; border-right:1px dotted #ccc; margin-top:5px}*/
	.secciones .apoyos-l span{display:block}
	
	.secundaria{ height: 100px; margin-bottom:18px; padding-bottom:8px;border-bottom: 1px dotted #CCC; width:650px;}
	.secundaria .imagensec{ float:left; }
	.secundaria .imagensec img{ /*min-width:110px; min-*/vertical-align:middle;}
	.secciones.secundaria .imagensec img{ /*min-width:110px; min-*/ vertical-align: middle; margin-right:15px; margin-left: 10px;}
	.secundaria .textosec{}
	.secundaria .textosec .epigrafe{ color: #D07B07; display: block; float: none; font-size: 11px; font-weight: normal; line-height: 20px; margin-top: 2px;}
	.secundaria .textosec .epigrafe a{ color: #D07B07; font-size: 11px; font-weight: bold; line-height: 20px; text-transform: uppercase; }
	.secundaria .textosec .epigrafe a:hover{ text-decoration:none; color:#999;}

	.secundaria .textosec p{ margin:0}
	.secundaria .textosec_sinimagen p{ margin:0}
	.secundaria .salto{ clear:both; line-height:15px;}
	
	.bloque1columna:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
	.bloque1columna {zoom: 1;display: block; margin-bottom:0px; float:left; width:100%; padding-bottom:10px;}
	.bloque1columna h3, .bloque1columna h3 a { color:#000}
	.bloque1columna h2{ padding-bottom:3px; margin-bottom:3px}
	.bloque1columna h2, .bloque1columna h2 a { color:#fff; padding:4px;  display:block; font-size: 16px; margin: 0; background:#1759a6; width:100px; font-weight:lighter; }
	
	.mas-noticias ul{padding:0; list-style:none; margin:0}
	.mas-not-list h3, .mas-noticias h3 a{font-size:14px;}
	.mas-not-list h3 a{font-size:14px; background:url(../mediaweb/images/iconos/ico_ir.gif) no-repeat ; display:block; min-height:19px; margin-left:5px; padding:3px 0 5px 24px; border-bottom:1px dotted #ccc}
	.mas-not-num li{ float:left;}
	.mas-not-num a{ float:left; background:#EFEFEF; border:1px solid #C9C9C9; padding:5px 10px; margin-right:4px; text-decoration:none; color: #000000; font-size: 75%;}
	.mas-not-num a:hover{ color: #666!important; text-decoration:underline!important; font-size: 75%; }



/**** ESTILOS DEL EXTRA HTML ****/
.editor_galeriaFotos{
 background-image: url(http://www.levante-emv.com/elementosWeb/mediaweb/images/iconos/fotos.gif);
 background-repeat: no-repeat;
 line-height: 17px;
 font-family: Tahoma, Times, serif;
 font-size: 11px;
 color: #0B475B !important;
 text-decoration: none;
 margin-top: 2px;
 margin-bottom: 2px;
 background-position: 0px 1px;
 padding-left: 20px;
  
}
.editor_galeriaFotos a, .editor_galeriaVideo a, .editor_galeriaAudio a, .editor_blogs a, .editor_documentos a,
.editor_encuestas a, .editor_foros a, .editor_chat a, .editor_infografia a, .editor_enlace a, .editor_enlaceColor a
{
 line-height: 17px;
 font-family: Tahoma, Times, serif;
 font-size: 11px;
 color: #0B475B !important;
 text-decoration: none;
 background-position: 0px 3px;  
}

.editor_galeriaFotos a:hover, .editor_galeriaVideo a:hover, .editor_galeriaAudio a:hover, .editor_blogs a:hover, .editor_documentos a:hover,
.editor_encuestas a:hover, .editor_foros a:hover, .editor_chat a:hover, .editor_infografia a:hover, .editor_enlace a:hover, .editor_enlaceColor a:hover
{
 text-decoration: underline;
}

 
 
.editor_galeriaVideo{
 background-image: url(http://www.levante-emv.com/elementosWeb/mediaweb/images/iconos/video.gif);
 background-repeat: no-repeat;
 background-position: 0px 2px;
 padding-left: 20px;
 line-height: 17px;
 font-family: Tahoma, Times, serif;
 font-size: 11px;
 color: #0B475B;
 text-decoration: none;
 margin-top: 2px;
 margin-bottom: 2px;
 
}
 
.editor_galeriaAudio{
 background-image: url(http://www.levante-emv.com/elementosWeb/mediaweb/images/iconos/audio.gif);
 background-repeat: no-repeat;
 background-position: 0px 2px;
 padding-left: 20px;
 line-height: 17px;
 font-family: Tahoma, Times, serif;
 font-size: 11px;
 color: #0B475B;
 text-decoration: none;
 margin-top: 2px;
 margin-bottom: 2px;
 
}
 
.editor_blogs{
 background-image: url(http://www.levante-emv.com/elementosWeb/mediaweb/images/iconos/blogs.gif);
 background-repeat: no-repeat;
 background-position: 0px 2px;
 padding-left: 20px;
 line-height: 17px;
 font-family: Tahoma, Times, serif;
 font-size: 11px;
 color: #0B475B;
 text-decoration: none;
 margin-top: 2px;
 margin-bottom: 2px;
 
}
 
.editor_documentos{
 background-image: url(http://www.levante-emv.com/elementosWeb/mediaweb/images/iconos/documentos.gif);
 background-repeat: no-repeat;
 background-position: 0px 2px;
 padding-left: 20px;
 line-height: 17px;
 font-family: Tahoma, Times, serif;
 font-size: 11px;
 color: #0B475B;
 text-decoration: none;
 margin-top: 2px;
 margin-bottom: 2px;
 
}
 
.editor_encuestas{
 background-image: url(http://www.levante-emv.com/elementosWeb/mediaweb/images/iconos/encuestas.gif);
 background-repeat: no-repeat;
 background-position: 0px 2px;
 padding-left: 20px;
 line-height: 17px;
 font-family: Tahoma, Times, serif;
 font-size: 11px;
 color: #0B475B;
 text-decoration: none;
 margin-top: 2px;
 margin-bottom: 2px;
 
}
 
.editor_foros{
 background-image: url(http://www.levante-emv.com/elementosWeb/mediaweb/images/iconos/foros.gif);
 background-repeat: no-repeat;
 background-position: 0px 2px;
 padding-left: 20px;
 line-height: 17px;
 font-family: Tahoma, Times, serif;
 font-size: 11px;
 color: #0B475B;
 text-decoration: none;
 margin-top: 2px;
 margin-bottom: 2px;
 
}
 
.editor_chat{
 background-image: url(http://www.levante-emv.com/elementosWeb/mediaweb/images/iconos/chat.gif);
 background-repeat: no-repeat;
 background-position: 0px 2px;
 padding-left: 20px;
 line-height: 17px;
 font-family: Tahoma, Times, serif;
 font-size: 11px;
 color: #0B475B;
 text-decoration: none;
 margin-top: 2px;
 margin-bottom: 2px;
 
}
 
.editor_infografia{
 background-image: url(http://www.levante-emv.com/elementosWeb/mediaweb/images/iconos/infografias.gif);
 background-repeat: no-repeat;
 background-position: 0px 2px;
 padding-left: 20px;
 line-height: 17px;
 font-family: Tahoma, Times, serif;
 font-size: 11px;
 color: #0B475B;
 text-decoration: none;
 margin-top: 2px;
 margin-bottom: 2px;
 
}
 
.editor_concursos{
 background-image: url(http://www.levante-emv.com/elementosWeb/mediaweb/images/iconos/concursos.gif);
 background-repeat: no-repeat;
 background-position: 0px 1px;
 padding-left: 20px;
 line-height: 17px;
 font-family: Tahoma, Times, serif;
 font-size: 11px;
 color: #0B475B;
 text-decoration: none;
 margin-top: 2px;
 margin-bottom: 2px;
 
}
 
.editor_enlace{
 font-family: Tahoma, Arial, Helvetica;
 font-size: 100%;
 font-style: normal;
 color: #0B475B;
 text-decoration: none;
}
 
.editor_enlaceColor{
 font-family: Tahoma, Arial, Helvetica;
 font-size: 100%;
 font-style: normal;
 color: #E68E0D;
 text-decoration: none;
}
 
.editor_textoColor{
 font-family: Tahoma, Arial, Helvetica;
 font-size: 100%;
 font-style: normal;
 font-weight: normal;
 color: #E68E0D;
 text-decoration: none;
}
 
.editor_textoResaltado{
 font-family: Tahoma, Arial, Helvetica;
 font-size: 100%;
 font-style: normal;
 font-weight: bold;
 color: #000000;
 text-decoration: none;
}
.editor_euroresidentes{
 background-image: url(http://www.levante-emv.com/elementosWeb/mediaweb/images/iconos/euroresidentes.jpg);
 background-repeat: no-repeat;
 background-position: 0px 3px;
 padding-left: 20px;
 line-height: 17px;
 font-family: Tahoma, Times, serif;
 font-size: 11px;
 color: #0B475B;
 text-decoration: none;
 margin-top: 2px;
 margin-bottom: 2px; 
}

.editor_euroresidentes_color{
 background-image: url(http://www.levante-emv.com/elementosWeb/mediaweb/images/iconos/euroresidentes_color.jpg);
 background-repeat: no-repeat;
 background-position: 0px 3px;
 padding-left: 20px;
 line-height: 17px;
 font-family: Tahoma, Times, serif;
 font-size: 11px;
 color: #0B475B;
 text-decoration: none;
 margin-top: 2px;
 margin-bottom: 2px;
 }

/************************  ESTILOS RECLAMOS ESPECIALES  ***********************/

.reclamoEspecial3Col { width:320px; }
.reclamoEspecial3Col h3 { margin:0; padding:0; font-size:16px; padding-bottom:6px; border-bottom:1px dotted #CCC; width:310px; margin:0 auto; }
.reclamoEspecial3Col p { padding:10px; font-size:12px; }
.reclamoEspecial3Col a { text-decoration:none; color:#1E579C; font-weight:bold; }
.reclamoEspecial3Col a:hover { color:#D71110; }

/************************  ESTILOS EPIGRAFRES ESPECIALES  ***********************/

.esp .noticia1col .epigrafePortada { color: #D07B07; display: block; float: none; font-family: Tahoma,Arial,Helvetica; font-size: 11px; margin-top: 2px; line-height:20px; }
.esp .noticia1col .epigrafePortada a { color: #D07B07; font-size: 11px; font-weight: bold; line-height:20px; text-transform:uppercase; }

.titular_esqui {
font-family: Arial Narrow, Arial, Helvetica, sans-serif;
font-size: 13px;
color: #FFFFFF;
margin-bottom: 4px;
background-color: #2d455f;
padding: 4px 10px;
}