.foto_galeria {
	width: 318px;
	background-color:#ededed;
}
		
.foto_galeria .foto_principal {
	background: none repeat scroll 0 0 #EDEDED;
	margin-bottom: 5px;
	position: relative;
	text-align: center;
}
.foto_galeria .foto_principal a img {
	border-top-style: none;
	border-right-style:none;
	border-bottom-style:none;
	border-left-style:none;
}

.foto_galeria .foto_principal .icon_play {
	height: 39px;
	width: 39px;
	position:absolute;
	top:6px;
	right:6px;
	z-index:100001;
	background-image:url(http://www.levante-emv.com/elementosWeb/mediaweb/images/modulos/cam_bot.png);
	background-repeat:no-repeat;
}
.foto_galeria .foto_principal a .icon_play {
	height:	39px;
	width: 39px;
	position: absolute;
	top:6px;
	right:6px;
	z-index:100001;
	background-image:url(http://www.levante-emv.com/elementosWeb/mediaweb/images/modulos/cam_bot.png);
	background-repeat:no-repeat;
}
.foto_galeria .foto_principal a:hover .icon_play {
	height:	39px;
	width:39px;
	position:absolute;
	top:6px;
	right:6px;
	z-index:100001;
	background-image:url(http://www.levante-emv.com/elementosWeb/mediaweb/images/modulos/cam_botOver.png);
	background-repeat:no-repeat;
}
.foto_galeria .foto_principal .cajatexto {
	position:absolute;
	background-image:url(http://www.levante-emv.com/elementosWeb/mediaweb/images/modulos/opa75.png);
	height:	44px;
	bottom:	0px;
	left:0px;
	right:0px;
	text-align:left;
	width:318px;
}
.foto_galeria .foto_principal .cajatexto .txtGaleria h2 {
	color:#FFFFFF;
	font-family: Arial,Helvetica,sans-serif;
	font-size:12px;
	margin:5px;
	font-weight:normal;
}
.foto_galeria .foto_principal .cajatexto .txtGaleria h2 a {
    	color:#FFFFFF;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
}
.foto_galeria .foto_principal .cajatexto .txtGaleria h2 a:hover {
	color:#cccccc;
	text-decoration:none;
	font-weight:normal;
}
.foto_galeria .otrasGalerias {
	height:15px;
	padding-bottom:4px;
	padding-right:4px;
}
		
.foto_galeria .otrasGalerias a {
	float:right;
	text-align:right;
	font-family:Arial,Helvetica,sans-serif;
	font-weight:bold;
	font-size:11px;
	color:#333;
	text-decoration:none;
}
.foto_galeria .otrasGalerias a:hover{
	color:#666;
	text-align:right;
	font-family:Arial,Helvetica,sans-serif;
	font-weight:bold;
	font-size:11px;
	text-decoration:none;
}

.ver_foto_galeria {
	background-color: #DFDFDF;
	width: 318px;	
 }
	 
.ver_foto_galeria  .foto_principal{
 	margin-bottom: 5px;
	position: relative;
	background-attachment: scroll;
	background-image: none;
	background-repeat: repeat;
	background-position:0 0;
	text-align: center;
}
.ver_foto_galeria .foto_principal a img{
	 border-top-style:none;
	 border-right-style:none;
	border-bottom-style:none;
	border-left-style:none;
}
.ver_foto_galeria .foto_principal .cajatexto{
	background-image:url("http://www.levante-emv.com/elementosWeb/mediaweb/images/modulos/opa75.png");
	bottom:	0px;
	height:	30px;
	left:0px;
	position:absolute;
	right:	0;
	text-align:left;
	width:318px;
}
.ver_foto_galeria .foto_principal .bot_play{
	height:	29px;
	width:29px;
	position:absolute;
	right:10px;
	bottom:	2px;
	background-image:url(http://www.levante-emv.com/elementosWeb/mediaweb/images/modulos/cameraIcon30.png);
	background-repeat:no-repeat;
}
.ver_foto_galeria .foto_principal a .bot_play
{
	height:	29px;
	width:	29px;
	position: absolute;
	right:10px;
	bottom:	2px;
	background-image: url(http://www.levante-emv.com/elementosWeb/mediaweb/images/modulos/cameraIcon30.png);
	background-repeat:no-repeat;
}
.ver_foto_galeria .foto_principal a:hover .bot_play
{
	height:	29px;
	width:29px;
	position:absolute;
	right:10px;
	bottom:	2px;
	background-image:url(http://www.levante-emv.com/elementosWeb/mediaweb/images/modulos/cameraIcon30Over.png);
	background-repeat:no-repeat;
}
.ver_foto_galeria .foto_principal .cajatexto .txtGaleria
{
	color:#FFFFFF;
	font-family:Arial,Helvetica,sans-serif;
	font-size:18px;
	margin:	5px;
	padding-right:40px;
	text-align:right;
}
.ver_foto_galeria .foto_principal .cajatexto .txtGaleria a
{
	color:#FFFFFF;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 18px;
	text-decoration:none;
}
.ver_foto_galeria .foto_principal .cajatexto .txtGaleria a:hover
{
 	color:#cccccc;
	text-decoration:none;
	font-weight:normal;
}
