.pub_728x90 {
/*	height: 90px; */
	width: 742px;
	float: left;
	background-image: url(http://www.levante-emv.com/elementosWeb/mediaweb/images/publicidad/publicidad.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	text-align: right;
}
.pub_234x90 {
	float: right;
/*	height: 90px; */
	width: 248px;
/*	background-image: url(../mediaweb/images/publicidad/publicidad.jpg); */
	background-repeat: no-repeat;
	background-position: left top;
	text-align: right;
}
.pub_640x30 {
	background-color: #e5e5e5;
	float: left;
	height: 45px;
	width: 640px;
}
.pub_340x250 {
	text-align: center;
	background-image: url(http://www.levante-emv.com/elementosWeb/mediaweb/images/publicidad/publicidad2.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 14px;
}

#anuncio_google
{
 padding: 5px;
 padding-left: 15px;
 padding-bottom: 0;
}
#anuncio_google p
{
 margin: 0;
 padding: 0;
}

.anuncios_google
{
 border: 1px solid #e3e3e3;
 border-top: 0;
 width: 650px;
}
.anuncios_google
{
 font-family: Tahoma,Arial,Helvetica,sans-serif;
}

.texto_google
{
 background-color: #EBE8E1;
 border: 1px solid #EBE8E1;
 border-bottom: 1px solid #e3e3e3;
 width: 650px;
 margin: 0;
 padding: 0;
 padding-top: 2px;
 padding-bottom: 2px;
 color: #666666;
 font-size: 11px;
}

.title_anuncio
{
 color: #003969;
 font-size: 14px;
 font-weight: bold;
}

.texto_anuncio
{
 font-size:12px;
}

.url_mostrar
{
 padding-bottom: 7px;
 color: #CA7D0B;
 font-size: 12px;
}

.espacio
{
 margin: 0 0 0;
 padding: 0 2px 2px;
 font-size: 5px;
 font-weight: normal;
 clear: left;
}
#anuncios_google_dcha{
	border:1px solid #eeeeee;
	border-top:0px;
	width: 100%;
background-color:#F9F9F9;
  }
#anuncios_google_dcha #anuncio_google_dcha{
	padding-left:7px;
}
#anuncios_google_dcha .title{
	background-color:#E9EDF1;
	border-bottom:1px solid #DDDDDD;
	color:#CA7D0B;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
	line-height:1em;
	margin-bottom:4px;
	margin-top:3px;
	outline:medium none;
	padding:5px;
	text-transform:uppercase;
}
#anuncios_google_dcha .title a{	
	background-color:#E9EDF1;
	color:#566378;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-bottom:7px;
	margin-top:3px;
	outline:medium none;
	text-decoration:none;
	text-transform:uppercase;
}
#anuncios_google_dcha .titulo_anuncio a{
	color:#003969;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
	margin-bottom:2px;
	margin-top:3px;
	outline:medium none;
	text-decoration:none;
}
#anuncios_google_dcha .texto_anuncio{
	color:#000000;
	margin-bottom:3px;
	margin-top:1px;
	outline:medium none;
	text-decoration:none;
}
#anuncios_google_dcha .texto_anuncio a{
	color:#CA7D0B;
}

#anuncios_google_dcha .espacio{
	clear:left;
	font-weight:normal;
	margin:0px 0 0px;
	padding:8px 2px 2px;
	font-size:5px;
}
