@charset "utf-8";
/* CSS Document */

.reclamo_contenido p a{
	font-weight:bold;
	font-style:italic;
	font-size:smaller;
}

.reclamo_contenido p.notiPpal{
	text-align:right;
	color: rgb(0, 102, 51);
}
.reclamo_contenido p.notiPpal a{
	color: rgb(0, 102, 51);
}
.reclamo_contenido p.enlaceGral{
	text-align:center;}
.reclamo_contenido p.enlaceGral a{
	color: rgb(244, 25, 25);
	font-size:12px;

}
