.nomostrar{
	display:none;	
	}
.mostrar {
	display:block;	
	}
.radio650 {
	background-color: #fff;
	height: 200px;
	width: 650px;
}
.int-radio650 {
	background-color: #fff;
	width: 650px;
	float: left;
}
.radio130 {
	background-color: #fff;
	height: 198px;
	width: 128px;
	margin-right: 4px;
	float:left;
}
.radio256 {
	background-color: #fff;
	height: 198px;
	width: 254px;
	margin-right: 4px;
	border: 1px solid #3174ad;
	float:left;
}
.radio390 {
	background-color: #fff;
	height: 198px;
	width: 388px;
	margin-right: 4px;
	border: 1px solid #3174ad;
	float:left;
}
.radio256-2 {
	background-color: #fff;
	height: 200px;
	width: 256px;
	float:left;
}
.radio256-2borde {
	background-color: #fff;
	height: 198px;
	width: 254px;
	border: 1px solid #3174ad;
	float:left;
}
.radio64v {
	background-color: #fff;
	height: 62px;
	width: 254px;
	border: 1px solid #3174ad;
	margin-bottom: 4px;
	}
.radio64v-2{
	background-color: #fff;
	height: 62px;
	width: 254px;
	border: 1px solid #3174ad;
}
.radio94v {
	background-color: #fff;
	height: 96px;
	width: 254px;
	border: 1px solid #3174ad;
	margin-bottom: 4px;
	}
.radio94v-2{
	background-color: #fff;
	height: 96px;
	width: 254px;
	border: 1px solid #3174ad;
}
.radio47v {
	background-color: #fff;
	height: 45px;
	width: 254px;
	border: 1px solid #3174ad;
	margin-bottom: 4px;
	}
.radio47v-2{
	background-color: #fff;
	height: 45px;
	width: 254px;
	border: 1px solid #3174ad;
}
.radio38v {
	background-color: #dcd6ca;
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/backreloj.jpg);
	height: 38px;
	width: 128px;
	margin-bottom: 2px;
	float:left;
	/*font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	line-height: 38px!important;*/
	background-repeat: no-repeat;
	}
.meteoreloj{
	font-family:Arial, Helvetica, sans-serif;
	background-color: #fff;
	background:url(http://www.levante-emv.com/elementosExt/mapas/img/temperaturaactualmeteo.gif) no-repeat;
	margin-bottom: 3px;
	margin-top: 3px;
	margin-left: 4px;
	padding-left: 22px;
	padding-top: 11px;
	width: 190px;
	height: 25px;
	float:left;
	text-align: center;
	color: #ebe8e1;
	font-size:22px
}
.meteoreloj2{
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
	margin-top: 3px;
	margin-left: 4px;
	padding-left: 22px;
	padding-top: 11px;
	width: 190px;
	height: 40px;
	float:left;
	text-align: center;
}
.temperaturaalas{
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	float: left;
	display: block;
	}
.incidenciastrafico{
	width:644px;
	background-color:#ebe8e1;
	float:right;
	display:block;
	margin-right:2px;
	margin-top:2px;
	margin-left:4px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C1B9A4;
	}
	
.incidenciastrafico1columna{
	width:310px;
	background-color:#ebe8e1;
	float:right;
	display:block;
	margin-right:2px;
	margin-top:2px;
	margin-left:4px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C1B9A4;
	}
.rondadeltiempo{
	/*width:644px;*/
	float:left;
	/*display:block;*/
	margin-right:2px;
	margin-top:2px;
	margin-left:4px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size:11px;
	color: #ca7d0b;
}
.beltzatextua{
		color:#000;
		border: none;
	}
.textubeltza1{
	float: left;
	text-align: center;
	margin-left: 95px;
	/*background-color:#999999;*/
	display: block;
	width:125px;
}
.textubeltza1 a{
	font-size: 10px;
	color:#000;
	text-decoration: none; 
}
.textubeltza1 a:hover{
	color:#666;
	text-decoration: none; 
}
.textubeltza1 img{
	border: none;
}
.textubeltza2{
	float: right;
	text-align: center;
	/*background-color:#999999;*/
	display: block;
	margin-right:5px;
}
.textubeltza2 a{
	font-size: 10px;
	color:#000;
	text-decoration: none; 
}
.textubeltza2 a:hover{
	color:#666;
}
.textubeltza2 img{
	border: none;
}
.temperaturav1_1caja {
	LINE-HEIGHT: 30px;
	MARGIN-TOP: 20px;
	PADDING-LEFT: 20px;
	WIDTH: 100px;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	MARGIN-BOTTOM: -10px;
	FLOAT: left;
	HEIGHT: 60px;
	COLOR: #2c2b1d;
	FONT-SIZE: 60px;
	PADDING-TOP: 20px;
}
.temperaturav1_3cajas {
	height: 38px;
	width: 52px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 34px;
	line-height: 40px!important;
	padding-top: 0px;
	padding-left: 12px;
	margin-top: 10px;
}
.tiempo_bloqueclear{
	clear:both;
	margin: 0px;
	padding: 0px;
}

.ciudadv1 {
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
}
.ciudad2lineasv1 {
	height: 27px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 11px;
}
.ciudadv1_3cajas {
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
	margin-top: 10px;
}
.ciudadv1_1caja {
	color:#2C2B1D;
	height: 15px;
	width: 110px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:24px;
	line-height: 15px;
	padding-top: 22px;
	margin-top: 10px;
	margin-left: 15px;
}
.ciudad2lineasv1_3cajas {
	height: 27px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 11px;
	margin-top: 10px;
}
.txthora1{
	margin-top: 16px;
	padding-left: 56px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	line-height: 22px!important;
	display: block;
	}
.radio160v {
	background-color: #ebe8e1;
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/backtiempo.jpg);
	height: 160px;
	width: 128px;
	float:left;
}

/*=====================================================================================*/
.meteorologiak{
	background-color: #ebe8e1;
	width: 645px;
	border: 1px solid #ddd;
	float:left;
}
.meteotemperaturav1_3cajas {
	height: 38px;
	width: 52px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 34px;
	line-height: 40px;
	padding-top: 0px;
	padding-left: 12px;
	margin-top: 1px;
	margin-left: 15px;
}
.meteotemperaturaprevi {
	height: 40px;
	width: 52px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 13px;
	padding-top: 0px;
	padding-left: 40px;
	padding-right: 30px;
	margin-top: 1px;
	margin-left: 15px;
}
.minicajon{
	background-color: #ebe8e1;
	width: 318px;
	border: 1px solid #ddd;
	float:left;
}
.minitextonegro{
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 10px;
	margin-top: 3px;
	margin-left: 4px;
	width: 310px;
	float:left;
}
.minimapappal{
	background-color: #fff;
	border: 1px solid #3174ad;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 3px;
	width: 310px;
	height: 198px;
	float:left;
}
.minimapappal-2{
	background-color: #fff;
	border: 1px solid #3174ad;
	margin-left: 3px;
	margin-right: 3px;
	margin-top: 3px;
	width: 310px;
	height: 129px;
	float:left;
}
.minimapappal-2b{
	background-color: #fff;
	border: 1px solid #3174ad;
	margin: 3px;
	width: 310px;
	height: 129px;
	float:left;
}
.minimapatrio_a{
	background-color: #fff;
	border: 1px solid #3174ad;
	margin-bottom: 3px;
	margin-top: 3px;
	margin-left: 3px;
	width: 100px;
	height: 129px;
	float:left;	
}
.minimapaduo_a{
	background-color: #fff;
	border: 1px solid #3174ad;
	margin-bottom: 3px;
	margin-top: 3px;
	margin-left: 3px;
	width: 152px;
	height: 129px;
	float:left;
}
.minireloj{
	font-family:Arial, Helvetica, sans-serif;
	background-color: #fff;
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/minibackreloj.gif);
	margin-bottom: 3px;
	margin-top: 3px;
	margin-left: 4px;
	padding-left: 22px;
	padding-top: 11px;
	width: 60px;
	height: 27px;
	float:left;
	text-align: center;
	color: #ebe8e1;
	font-size:22px
}
.miniclima{
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-left: 0px;
	padding-top: 2px;
	width: 76px;
	height: 36px;
	float:left;
	text-align: center;
	color: #3f3e3c;
	font-size:11px;
	font-weight: bold;
}
.minigrados{
	font-size:22px;
	line-height: 22px;
	float: left;
	width: 100%;
}
.minigrados_unico{
	font-size:19px;
	font-weight: bold;
	line-height: 22px;
	padding-left: 5px;
}
.miniprevision{
	font-family:Arial, Helvetica, sans-serif;
	color: #333;
	margin-bottom: 3px;
	margin-top: 1px;
	margin-left: 4px;
	padding-right: 5px;
	width: 77px;
	height: 14px;
	float:left;
	text-align: right;
	font-size:10px;
	font-weight:bold;
}
.miniclima2{
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
	margin-top: 0px;
	padding-left: 0px;
	padding-top: 0px;
	width: 76px;
	height: 20px;
	float:left;
	text-align: center;
	color: #3f3e3c;
	font-size:11px
}
.miniclima3{
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-left: 50px;
	padding-top: 10px;
	width: 140px;
	height: 28px;
	float:left;
	text-align: left;
	color: #3f3e3c;
	font-size:11px;
	font-weight:bold;
}
.ampliar{
	font-weight: bold;
	text-align:right;
	float:right;
}
.ampliar a{
	color:#333;
	text-decoration: none;
}
.ampliar a:hover{
	color:#666;
	text-decoration: none;
}
/*iconos tiempo a doble columna, 4 ciudades****************************/
.soleado4{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/soleado38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
}
.solynubes4{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/solynubes38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
}
.nuboso4{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/nuboso38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
}
.muynuboso4{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/muynuboso38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
}
.llovizna4{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/llovizna38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
}
.lluvia4{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/lluvia38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
}
.granizo4{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/granizo38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
}
.inestable4{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/inestable38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
}
.nieve4{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/nieve38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
}
.tormenta4{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/tormenta38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
}
.niebla4{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/niebla38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
}
/*iconos tiempo a doble columna 3 ciudades****************************/
.soleado3{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/soleado38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
	margin-top: 10px;
}
.solynubes3{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/solynubes38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
	margin-top: 10px;
}
.nuboso3{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/nuboso38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
	margin-top: 10px;
}
.muynuboso3{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/muynuboso38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
	margin-top: 10px;
}
.llovizna3{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/llovizna38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
	margin-top: 10px;
}
.lluvia3{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/lluvia38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
	margin-top: 10px;
}
.granizo3{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/granizo38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
	margin-top: 10px;
}
.inestable3{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/inestable38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
	margin-top: 10px;
}
.nieve3{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/nieve38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
	margin-top: 10px;
}
.tormenta3{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/tormenta38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
	margin-top: 10px;
}
.niebla3{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/niebla38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
	margin-top: 10px;
}
/*iconos tiempo meteo****************************/
.meteosoleado3{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/soleado38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
	margin-top: 1px;
	font-weight:bold;
}
.meteosolynubes3{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/solynubes38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
	margin-top: 1px;
	font-weight:bold;
}
.meteonuboso3{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/nuboso38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
	margin-top: 1px;
	font-weight:bold;
}
.meteomuynuboso3{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/muynuboso38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
	margin-top: 1px;
	font-weight:bold;
}
.meteollovizna3{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/llovizna38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
	margin-top: 1px;
	font-weight:bold;
}
.meteolluvia3{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/lluvia38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
	margin-top: 1px;
	font-weight:bold;
}
.meteogranizo3{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/granizo38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
	margin-top: 1px;
	font-weight:bold;
}
.meteoinestable3{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/inestable38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
	margin-top: 1px;
	font-weight:bold;
}
.meteonieve3{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/nieve38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
	margin-top: 1px;
	font-weight:bold;
}
.meteotormenta3{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/tormenta38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
	margin-top: 1px;
	font-weight:bold;
}
.meteoniebla3{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/niebla38.gif);
	background-repeat:no-repeat;
	background-position:right;
	height: 16px;
	width: 62px;
	margin-bottom: 2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height: 12px;
	padding-top: 22px;
	margin-top: 1px;
	font-weight:bold;
}
/*iconos tiempo a doble columna 1 ciudad****************************/
.soleado1 {
	BACKGROUND-IMAGE: url(http://www.levante-emv.com/elementosExt/mapas/img/soleado38.gif); LINE-HEIGHT: 15px; MARGIN-TOP: 10px; WIDTH: 110px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-POSITION: right 50%; MARGIN-BOTTOM: 2px; FLOAT: left; HEIGHT: 15px; COLOR: #2c2b1d; MARGIN-LEFT: 15px; FONT-SIZE: 24px; PADDING-TOP: 20px;padding-bottom: 10px;
}
.solynubes1 {
	BACKGROUND-IMAGE: url(http://www.levante-emv.com/elementosExt/mapas/img/solynubes38.gif); LINE-HEIGHT: 15px; MARGIN-TOP: 10px; WIDTH: 110px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-POSITION: right 50%; MARGIN-BOTTOM: 2px; FLOAT: left; HEIGHT: 15px; COLOR: #2c2b1d; MARGIN-LEFT: 15px; FONT-SIZE: 24px; PADDING-TOP: 20px;padding-bottom: 10px;
}
.nuboso1 {
	BACKGROUND-IMAGE: url(http://www.levante-emv.com/elementosExt/mapas/img/nuboso38.gif); LINE-HEIGHT: 15px; MARGIN-TOP: 10px; WIDTH: 110px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-POSITION: right 50%; MARGIN-BOTTOM: 2px; FLOAT: left; HEIGHT: 15px; COLOR: #2c2b1d; MARGIN-LEFT: 15px; FONT-SIZE: 24px; PADDING-TOP: 20px;padding-bottom: 10px;
}
.muynuboso1 {
	BACKGROUND-IMAGE: url(http://www.levante-emv.com/elementosExt/mapas/img/muynuboso38.gif); LINE-HEIGHT: 15px; MARGIN-TOP: 10px; WIDTH: 110px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-POSITION: right 50%; MARGIN-BOTTOM: 2px; FLOAT: left; HEIGHT: 15px; COLOR: #2c2b1d; MARGIN-LEFT: 15px; FONT-SIZE: 24px; PADDING-TOP: 20px;padding-bottom: 10px;
}
.llovizna1 {
	BACKGROUND-IMAGE: url(http://www.levante-emv.com/elementosExt/mapas/img/llovizna38.gif); LINE-HEIGHT: 15px; MARGIN-TOP: 10px; WIDTH: 110px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-POSITION: right 50%; MARGIN-BOTTOM: 2px; FLOAT: left; HEIGHT: 15px; COLOR: #2c2b1d; MARGIN-LEFT: 15px; FONT-SIZE: 24px; PADDING-TOP: 20px;padding-bottom: 10px;
}
.lluvia1 {
	BACKGROUND-IMAGE: url(http://www.levante-emv.com/elementosExt/mapas/img/lluvia38.gif); LINE-HEIGHT: 15px; MARGIN-TOP: 10px; WIDTH: 110px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-POSITION: right 50%; MARGIN-BOTTOM: 2px; FLOAT: left; HEIGHT: 15px; COLOR: #2c2b1d; MARGIN-LEFT: 15px; FONT-SIZE: 24px; PADDING-TOP: 20px;padding-bottom: 10px;
}
.granizo1 {
	BACKGROUND-IMAGE: url(http://www.levante-emv.com/elementosExt/mapas/img/granizo38.gif); LINE-HEIGHT: 15px; MARGIN-TOP: 10px; WIDTH: 110px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-POSITION: right 50%; MARGIN-BOTTOM: 2px; FLOAT: left; HEIGHT: 15px; COLOR: #2c2b1d; MARGIN-LEFT: 15px; FONT-SIZE: 24px; PADDING-TOP: 20px;padding-bottom: 10px;
}
.inestable1 {
	BACKGROUND-IMAGE: url(http://www.levante-emv.com/elementosExt/mapas/img/inestable38.gif); LINE-HEIGHT: 15px; MARGIN-TOP: 10px; WIDTH: 110px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-POSITION: right 50%; MARGIN-BOTTOM: 2px; FLOAT: left; HEIGHT: 15px; COLOR: #2c2b1d; MARGIN-LEFT: 15px; FONT-SIZE: 24px; PADDING-TOP: 20px;padding-bottom: 10px;
}
.nieve1 {
	BACKGROUND-IMAGE: url(http://www.levante-emv.com/elementosExt/mapas/img/nieve38.gif); LINE-HEIGHT: 15px; MARGIN-TOP: 10px; WIDTH: 110px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-POSITION: right 50%; MARGIN-BOTTOM: 2px; FLOAT: left; HEIGHT: 15px; COLOR: #2c2b1d; MARGIN-LEFT: 15px; FONT-SIZE: 24px; PADDING-TOP: 20px;padding-bottom: 10px;
}
.tormenta1 {
	BACKGROUND-IMAGE: url(http://www.levante-emv.com/elementosExt/mapas/img/tormenta38.gif); LINE-HEIGHT: 15px; MARGIN-TOP: 10px; WIDTH: 110px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-POSITION: right 50%; MARGIN-BOTTOM: 2px; FLOAT: left; HEIGHT: 15px; COLOR: #2c2b1d; MARGIN-LEFT: 15px; FONT-SIZE: 24px; PADDING-TOP: 20px;padding-bottom: 10px;
}
.niebla1 {
	BACKGROUND-IMAGE: url(http://www.levante-emv.com/elementosExt/mapas/img/niebla38.gif); LINE-HEIGHT: 15px; MARGIN-TOP: 10px; WIDTH: 110px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-POSITION: right 50%; MARGIN-BOTTOM: 2px; FLOAT: left; HEIGHT: 15px; COLOR: #2c2b1d; MARGIN-LEFT: 15px; FONT-SIZE: 24px; PADDING-TOP: 20px;padding-bottom: 10px;
}
/*iconos tiempo a doble columna****************************/
.soleado{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/soleado38.gif);
	background-repeat:no-repeat;
	background-position:right;
}
.solynubes{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/solynubes38.gif);
	background-repeat:no-repeat;
	background-position:right;
}
.nuboso{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/nuboso38.gif);
	background-repeat:no-repeat;
	background-position:right;
}
.muynuboso{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/muynuboso38.gif);
	background-repeat:no-repeat;
	background-position:right;
}
.llovizna{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/llovizna38.gif);
	background-repeat:no-repeat;
	background-position:right;
}
.lluvia{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/lluvia38.gif);
	background-repeat:no-repeat;
	background-position:right;
}
.granizo{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/granizo38.gif);
	background-repeat:no-repeat;
	background-position:right;
}
.inestable{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/inestable38.gif);
	background-repeat:no-repeat;
	background-position:right;
}
.nieve{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/nieve38.gif);
	background-repeat:no-repeat;
	background-position:right;
}
.tormenta{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/tormenta38.gif);
	background-repeat:no-repeat;
	background-position:right;
}
.niebla{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/niebla38.gif);
	background-repeat:no-repeat;
	background-position:right;
}
/*iconos tiempo, para la columna derecha, cuando hay varias ciudades****/
.soleado_mini{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/soleado27.gif);
	background-repeat:no-repeat;
	background-position:47px;
		font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-left: 0px;
	padding-top: 2px;
	width: 76px;
	height: 36px;
	float:left;
	text-align: center;
	color: #3f3e3c;
	font-size:11px;
	font-weight: bold;
}
.solynubes_mini{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/solynubes27.gif);
	background-repeat:no-repeat;
	background-position:47px;
		font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-left: 0px;
	padding-top: 2px;
	width: 76px;
	height: 36px;
	float:left;
	text-align: center;
	color: #3f3e3c;
	font-size:11px;
	font-weight: bold;
}
.nuboso_mini{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/nuboso27.gif);
	background-repeat:no-repeat;
	background-position:47px;
		font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-left: 0px;
	padding-top: 2px;
	width: 76px;
	height: 36px;
	float:left;
	text-align: center;
	color: #3f3e3c;
	font-size:11px;
	font-weight: bold;
}
.muynuboso_mini{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/muynuboso27.gif);
	background-repeat:no-repeat;
	background-position:47px;
		font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-left: 0px;
	padding-top: 2px;
	width: 76px;
	height: 36px;
	float:left;
	text-align: center;
	color: #3f3e3c;
	font-size:11px;
	font-weight: bold;
}
.llovizna_mini{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/llovizna27.gif);
	background-repeat:no-repeat;
	background-position:47px;
		font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-left: 0px;
	padding-top: 2px;
	width: 76px;
	height: 36px;
	float:left;
	text-align: center;
	color: #3f3e3c;
	font-size:11px;
	font-weight: bold;
}
.lluvia_mini{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/lluvia27.gif);
	background-repeat:no-repeat;
	background-position:47px;
		font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-left: 0px;
	padding-top: 2px;
	width: 76px;
	height: 36px;
	float:left;
	text-align: center;
	color: #3f3e3c;
	font-size:11px;
	font-weight: bold;
}
.granizo_mini{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/granizo27.gif);
	background-repeat:no-repeat;
	background-position:47px;
		font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-left: 0px;
	padding-top: 2px;
	width: 76px;
	height: 36px;
	float:left;
	text-align: center;
	color: #3f3e3c;
	font-size:11px;
	font-weight: bold;
}
.inestable_mini{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/inestable27.gif);
	background-repeat:no-repeat;
	background-position:47px;
		font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-left: 0px;
	padding-top: 2px;
	width: 76px;
	height: 36px;
	float:left;
	text-align: center;
	color: #3f3e3c;
	font-size:11px;
	font-weight: bold;
}
.nieve_mini{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/nieve27.gif);
	background-repeat:no-repeat;
	background-position:47px;
		font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-left: 0px;
	padding-top: 2px;
	width: 76px;
	height: 36px;
	float:left;
	text-align: center;
	color: #3f3e3c;
	font-size:11px;
	font-weight: bold;
}
.tormenta_mini{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/tormenta27.gif);
	background-repeat:no-repeat;
	background-position:47px;
		font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-left: 0px;
	padding-top: 2px;
	width: 76px;
	height: 36px;
	float:left;
	text-align: center;
	color: #3f3e3c;
	font-size:11px;
	font-weight: bold;
}
.niebla_mini{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/niebla27.gif);
	background-repeat:no-repeat;
	background-position:47px;
		font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-left: 0px;
	padding-top: 2px;
	width: 76px;
	height: 36px;
	float:left;
	text-align: center;
	color: #3f3e3c;
	font-size:11px;
	font-weight: bold;
}
/*iconos tiempo, para la columna derecha, cuando hay solo una ciudad****/
.soleado_miniunico{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/soleado27.gif);
	background-repeat:no-repeat;
	background-position:135px;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-left: 50px;
	padding-top: 10px;
	width: 160px;
	height: 28px;
	float:left;
	text-align: left;
	color: #3f3e3c;
	font-size:11px;
	font-weight:bold;
}
.solynubes_miniunico{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/solynubes27.gif);
	background-repeat:no-repeat;
	background-position:135px;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-left: 50px;
	padding-top: 10px;
	width: 160px;
	height: 28px;
	float:left;
	text-align: left;
	color: #3f3e3c;
	font-size:11px;
	font-weight:bold;
}
.nuboso_miniunico{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/nuboso27.gif);
	background-repeat:no-repeat;
	background-position:135px;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-left: 50px;
	padding-top: 10px;
	width: 160px;
	height: 28px;
	float:left;
	text-align: left;
	color: #3f3e3c;
	font-size:11px;
	font-weight:bold;
}
.muynuboso_miniunico{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/muynuboso27.gif);
	background-repeat:no-repeat;
	background-position:135px;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-left: 50px;
	padding-top: 10px;
	width: 160px;
	height: 28px;
	float:left;
	text-align: left;
	color: #3f3e3c;
	font-size:11px;
	font-weight:bold;
}
.llovizna_miniunico{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/llovizna27.gif);
	background-repeat:no-repeat;
	background-position:135px;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-left: 50px;
	padding-top: 10px;
	width: 160px;
	height: 28px;
	float:left;
	text-align: left;
	color: #3f3e3c;
	font-size:11px;
	font-weight:bold;
}
.lluvia_miniunico{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/lluvia27.gif);
	background-repeat:no-repeat;
	background-position:135px;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-left: 50px;
	padding-top: 10px;
	width: 160px;
	height: 28px;
	float:left;
	text-align: left;
	color: #3f3e3c;
	font-size:11px;
	font-weight:bold;
}
.granizo_miniunico{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/granizo27.gif);
	background-repeat:no-repeat;
	background-position:135px;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-left: 50px;
	padding-top: 10px;
	width: 160px;
	height: 28px;
	float:left;
	text-align: left;
	color: #3f3e3c;
	font-size:11px;
	font-weight:bold;
}
.inestable_miniunico{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/inestable27.gif);
	background-repeat:no-repeat;
	background-position:135px;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-left: 50px;
	padding-top: 10px;
	width: 160px;
	height: 28px;
	float:left;
	text-align: left;
	color: #3f3e3c;
	font-size:11px;
	font-weight:bold;
}
.nieve_miniunico{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/nieve27.gif);
	background-repeat:no-repeat;
	background-position:135px;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-left: 50px;
	padding-top: 10px;
	width: 160px;
	height: 28px;
	float:left;
	text-align: left;
	color: #3f3e3c;
	font-size:11px;
	font-weight:bold;
}
.tormenta_miniunico{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/tormenta27.gif);
	background-repeat:no-repeat;
	background-position:135px;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-left: 50px;
	padding-top: 10px;
	width: 160px;
	height: 28px;
	float:left;
	text-align: left;
	color: #3f3e3c;
	font-size:11px;
	font-weight:bold;
}
.niebla_miniunico{
	background-image:url(http://www.levante-emv.com/elementosExt/mapas/img/niebla27.gif);
	background-repeat:no-repeat;
	background-position:135px;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom: 3px;
	margin-top: 3px;
	padding-left: 50px;
	padding-top: 10px;
	width: 160px;
	height: 28px;
	float:left;
	text-align: left;
	color: #3f3e3c;
	font-size:11px;
	font-weight:bold;
}
/*miniunico******************************************/
.int-banda{
	width: 100%;
	float: left;
	font-size: 11px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: 6px solid #cfcfcf;
	margin-bottom: 1px;
}
.int-tablacity{
	width: 100%;
	float: left;
	border-bottom: 1px solid #cfcfcf;
	margin-bottom: 1px;
	margin-top: 2px;
}
.int-mapagrande{
	width: 428px;
	height: 363px;
	border: 1px solid #3174ad;
	float: left;
}
.int-textosgrande{
	width: 220px;
	height: 365px;
	float: left;
	overflow: auto;
}
.int-leyenda{
	width: 428px;
	height: 39px;
	margin-top: 1px;
	border: 1px solid #3174ad;
	float: left;
	margin-bottom: 15px;
}
.int-cajatriple{
	width: 208px;
	height: 180px;
	border: 1px solid #3174ad;
	float: left;
	overflow:hidden;
}
.int-cajatripleb{
	width: 208px;
	height: 180px;
	border: 1px solid #3174ad;
	float: left;
	overflow:hidden;
}
.int-cajamapatriple{
	width: 210px;
	float: left;
	margin-bottom: 1px;
	margin-right: 10px;
}
.int-cajamapatriple-b{
	width: 210px;
	float: left;
	margin-bottom: 1px;
}
.int-cajamapadoble{
	width: 320px;
	float: left;
	margin-bottom: 1px;
	margin-right: 10px;
}
.int-cajamapadoble-b{
	width: 320px;
	float: left;
	margin-bottom: 1px;
}

.int-cajamapaunico{
	width: 640px;
	float: left;
	margin-bottom: 1px;
	margin-right: 10px;
}
.int-cajamapaunico-b{
	width: 640px;
	float: left;
	margin-bottom: 1px;
}

/****TABLAS***********************************************************************/

/***FIN TABLAS****************************************************************************/
.desplegableprovincias{
	margin-top: 2px;
	height: 40px;
	width: 210px;
	background-color:#ebe8e1;
	float:right;
	text-align: center;
}
.desplegaprovincias{
	width: 206px;
	line-height: 15px;
	font-size: 11px;
	background-color:#dcd6da;
	border: #3174ad 1px solid;
	margin-top: 10px;
	}
	
.enlaceTiempoMapa{
	color: #000000;
	text-decoration: none;	
}
.enlaceTiempoMapa a{
	color:#000000;
	text-decoration: none;
}
.enlaceTiempoMapa a:hover{
	color:#000000;
	text-decoration: none;
}
.ayuda{
	background-color:#ffffff;
	font-weight:bold;
	border:1px #006699 solid;
	font-size:11px;
	padding:4px;
}
.listadoIncidencias{
	border: none;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
}
.listadoIncidencias td, .listadoIncidencias th {
	background-color: #eaeaea;
	font-size: 11px;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 2px;
}
.listadoIncidencias tr.odd th, .listadoIncidencias tr.odd td{
	background-color: #fff;
}
.mete{
	background:url(http://www.levante-emv.com/elementosExt/mapas/img/pop_sol2.gif) no-repeat;
	padding-left: 19px;
	background-position: 0 50%;
}
.cono {
	background:url(http://www.levante-emv.com/elementosExt/mapas/img/pop_cono.gif) no-repeat;
	padding-left: 19px;
	background-position: 0 50%;
}
.reten{
	background:url(http://www.levante-emv.com/elementosExt/mapas/img/pop_reten.gif) no-repeat;
	padding-left: 19px;
	background-position: 0 50%;
}
.obras{
	background:url(http://www.levante-emv.com/elementosExt/mapas/img/pop_obra.gif) no-repeat;
	padding-left: 19px;
	background-position: 0 50%;
}
.puertos{
	background:url(http://www.levante-emv.com/elementosExt/mapas/img/pop_puerto.gif) no-repeat;
	padding-left: 19px;
	background-position: 0 50%;
}
