@font-face {
	font-family: 'roboto_condensedbold'; src: url('http://www.levante-emv.com/noticias-hoy/motoGP/css/fuentes/robotocondensed-bold-webfont.eot'); src: url('http://www.levante-emv.com/noticias-hoy/motoGP/css/fuentes/robotocondensed-bold-webfont.eot?') format('embedded-opentype'), url('http://www.levante-emv.com/noticias-hoy/motoGP/css/fuentes/robotocondensed-bold-webfont.woff2') format('woff2'), url('http://www.levante-emv.com/noticias-hoy/motoGP/css/fuentes/robotocondensed-bold-webfont.woff') format('woff'), url('http://www.levante-emv.com/noticias-hoy/motoGP/css/fuentes/robotocondensed-bold-webfont.ttf') format('truetype'), url('http://www.levante-emv.com/noticias-hoy/motoGP/css/fuentes/robotocondensed-bold-webfont.svg') format('svg');  font-weight: normal;  font-style: normal;
}
@font-face {
	font-family: 'robotoregular'; src: url('http://www.levante-emv.com/noticias-hoy/motoGP/css/fuentes/Roboto-Regular-webfont.eot'); src: url('http://www.levante-emv.com/noticias-hoy/motoGP/css/fuentes/Roboto-Regular-webfont.eot?') format('embedded-opentype'), url('http://www.levante-emv.com/noticias-hoy/motoGP/css/fuentes/Roboto-Regular-webfont.woff2') format('woff2'), url('http://www.levante-emv.com/noticias-hoy/motoGP/css/fuentes/Roboto-Regular-webfont.woff') format('woff'), url('http://www.levante-emv.com/noticias-hoy/motoGP/css/fuentes/Roboto-Regular-webfont.ttf') format('truetype'), url('http://www.levante-emv.com/noticias-hoy/motoGP/css/fuentes/Roboto-Regular-webfont.svg') format('svg'); font-weight: normal; font-style: normal;
}
@font-face {font-family: 'roboto_condensedregular'; src: url('http://www.levante-emv.com/noticias-hoy/motoGP/css/fuentes/robotocondensed-regular-webfont.eot'); src: url('http://www.levante-emv.com/noticias-hoy/motoGP/css/fuentes/robotocondensed-regular-webfont.eot?') format('embedded-opentype'), url('http://www.levante-emv.com/noticias-hoy/motoGP/css/fuentes/robotocondensed-regular-webfont.woff2') format('woff2'), url('http://www.levante-emv.com/noticias-hoy/motoGP/css/fuentes/robotocondensed-regular-webfont.woff') format('woff'), url('http://www.levante-emv.com/noticias-hoy/motoGP/css/fuentes/robotocondensed-regular-webfont.ttf') format('truetype'), url('http://www.levante-emv.com/noticias-hoy/motoGP/css/fuentes/robotocondensed-regular-webfont.svg') format('svg'); font-weight: normal; font-style: normal;
}

/* MENU PRINCIPAL */
.esp .menuSuperior {float:none; width:990px; font-weight:bold; font-size:13px; line-height:normal; padding-bottom:0px; padding-top:0px; border-top: /*3px double #DD164D*/1px solid #DD164D !important; border-bottom: 1px solid #DD164D !important; text-align: left;background:/*#eee*/#fff !important;}
.esp .menuSuperior h3{ font-size:13px; margin:0px}
.esp .menuSuperior h2{ font-size:13px; margin:0px}
.esp .menuSuperior ul {margin:0; list-style:none; padding: 0px 0px 0px;}
.esp .menuSuperior li { display:inline-block; margin:0px; padding:0px 0px 0px;float: none;  border-right: none !important/*1px solid #DD164D*/; background-color:/*#eee*/#fff !important;}
.esp .menuSuperior a  {float: none; margin:0; padding:0px; text-decoration:none; border-right: none; }
.esp .menuSuperior a span {float:left; padding:5px 10px; color:#292b34;display:block; font: 18px roboto_condensedregular; text-decoration: none;}
	/* Commented Backslash Hack hides rule from IE5-Mac \*/
.esp .menuSuperior a span {float:none; padding: 10px 20px;}
	/* End IE5-Mac hack */
.esp .menuSuperior a:hover span {color:#DD164D;}
.esp .menuSuperior .current a span { background-color:#DD164D; color:#fff; margin-left: -4px;}
.esp .submenu .current a span { font-weight:bold; color: #000000; }

/* BLOQUES PRINCIPAL Y EN 3 COLUMNAS */

.esp .columnaizdaglobal{margin:10px 0px; padding:5px 7px 7px 5px; width:650px; float:left; border-right:1px dotted #ccc;}
.esp .columnadchaglobal {margin:10px 0px; padding:5px 5px 7px 0px; width:315px; float:right; overflow:hidden;}
.esp .columnaizdaglobal .noticiashome{}

.esp .columnadchaglobal h2{ margin:0; padding:0px; font-size:18px; color:#3a3a3a; border-bottom: 1px solid #666666; }

.divEspecialesTexto h2.tituloSeccionPagina{border-bottom: 1px solid #666666; color: #DD164D; padding-left: 10px; padding-bottom: 5px; margin: 0px; font: 33px/36px roboto_condensedregular,Arial !important;}

/* BLOQUES PRINCIPAL Y EN 2 COLUMNAS */

.esp .noticia2col .basic2col a img { width:650px; float:left; border:none; display:block}
.esp .noticia2col .basic2col a:hover img {opacity: 0.7; -moz-opacity: 0.7; -webkit-opacity: 0.7; filter:alpha(opacity=70);}
.esp .noticia2col .basic2col h2 { background: none !important; margin:0px; text-decoration:none; font-size:24px; margin-top:0px; padding:5px 5px 0px 0px !important; margin-bottom: 8px;}
.esp .noticia2col .basic2col h2 a {color:#DD164D; text-decoration:none; margin:3px 0px 0px 0px; font: 30px roboto_condensedregular, Arial;}
.esp .noticia2col .basic2col h2 a:hover { color: #666;}
.esp .noticia2col .basic2col a .piedefoto  {background-color: #000 !important; color: #eee !important; font: 12px roboto_condensedregular,Arial !important; height: auto !important; padding: 2px 0 2px 3px !important;}


/* BLOQUE NOTICIAS EN 1 COLUMNA */
/*.esp .noticia1col {width:315px; margin: 0px 0px 20px 0px; overflow:hidden; float:left; display: inline}
.esp .noticia1col a { color: #196CA5; text-decoration:none}
.esp .noticia1col a img { width:315px; float:left; border:none; display:block}
.esp .noticia1col a:hover img {opacity: 0.7; -moz-opacity: 0.7; -webkit-opacity: 0.7; filter:alpha(opacity=70);}*/
div.esp div.noticia1col h2 { margin:0px; text-decoration:none}
div.esp div.noticia1col h2 { margin: 0px; text-decoration: none;/*padding: 5px 5px 5px 15px;background: url("../img/ajedrez.gif") left top repeat-y #EFEFEF;*/; padding: 5px 0px;}
div.esp div.noticia1col h2 a {color:#DD164D; font-size:18px; text-decoration:none; margin:3px 0px 0px 0px; font: 22px roboto_condensedregular, Arial !important;}
.esp .noticia1col h2 a:hover { color: #666;}
.esp .noticia1col .fecha { font-size:11px;}
.esp .noticia1col .autoria { font-size:11px; color:#1759a6;} 
.esp .noticia1col .autoria a {color:#890d2f; font-weight:bold;} 
.esp .noticia1col .autoria a:hover {color:#666; font-weight:bold;} 
.esp .noticia1col p { font-size:12px;}
/*.esp .noticia1col  a .piedefoto {background-color:#000; color:#eee; font-size:11px; height:15px; padding:0 0 0 3px;}*/
.esp .noticia1col a .piedefoto {background-color: #000 !important; color: #eee !important; font: 12px roboto_condensedregular, Arial !important; height: auto !important; padding: 2px 0 2px 3px !important; }
/*.esp .noticia1col .piedefoto { background-color:#0F3; color:#0F3}*/
.esp .noticia1col .piedefoto {background-color: #000 !important; color: #eee !important; font: 12px roboto_condensedregular, Arial !important; height: auto !important; padding: 2px 0 2px 3px !important; }
.esp .noticia1col .epigrafePortada a { color: #333333; font-size: 14px; font-weight: bold; line-height:20px; }
.esp .noticia1col .epigrafePortada a:hover { text-decoration:none; color:#999999; }
.esp .noticia1col p a {color: #890d2f; text-decoration: none;}
.esp .extraHTML a span, .esp .extraHTML a{font: 12px robotoregular, Arial !important; color:#890d2f !important;}
.esp .extraHTML strong a{font: bold 14px robotoregular, Arial !important; color:#890d2f !important;}


/* OTROS TITULARES, LISTADO DE TITULARES */
.esp .otrostitulares {margin: 0px 5px 20px 0px; overflow:hidden; float:left; display: inline; width:100%;}
.esp .otrostitulares .titulo { font-size:14px; color:#eee; background-color:#000 !important; padding:4px; float:left; display:block;}
.esp .otrostitulares .titulo a { color:#eee; text-decoration:none;}
.esp .otrostitulares .titulo a:hover { color:#ccc;}
.esp .otrostitulares .titulo h3 { margin:0px; font: 14px roboto_condensedregular, Arial !important; } 
.esp .otrostitulares .mas { font-size:11px; font-weight:bold; color:#eee; background-color:#292b34; padding:4px 10px 4px 4px; float:left; display:block;}
.esp .otrostitulares .mas a { color:#eee; text-decoration:none;}
.esp .otrostitulares .mas a:hover { color:#ccc;}
.esp .otrostitulares .fecha { font-size:12px; color:#1759a6; margin-right:5px;} 
.esp .otrostitulares li {font-size:12px; list-style-image: url(http://www.levante-emv.com/elementosWeb/img/especiales/punto_li.png); list-style-position:outside; margin-bottom:8px;}
.esp .otrostitulares li a { color:#000000; text-decoration:none;}
.esp .otrostitulares li a:hover { color:#1759a6;}
.esp .otrostitulares li h4 { display:inline; font: 13px robotoregular, Arial !important; }

/* ENCUESTA */
.esp .encuesta {border:1px solid #CCC; padding:10px; padding-top:1px; margin: 0px 0px 20px 0px; overflow:hidden; float:left; display: block; width:295px;}
.esp .encuesta a {text-decoration:none}
.esp .encuesta a h4{color:#1759a6; font-size:13px; text-decoration:none; margin:0px;}
.esp .encuesta a:hover h4{ color: #666;}
.esp .encuesta h4 { margin:0px; text-decoration:none; color:#1759a6; font-size:13px;}
.esp .encuesta .titulo-encuesta {text-transform:uppercase; color:#1759a6; font-size:13px; background-image:url(http://www.levante-emv.com/elementosWeb/img/especiales/ico_encuesta.png); background-repeat:no-repeat; background-position:left; padding:14px 8px 14px 40px;}
.esp .encuesta .titulo-encuesta h3 { margin:0px; text-decoration:none; color:#1759a6; font-size:13px; font-weight:normal;}
.esp .encuesta .titulo-encuesta a h3{ text-decoration:none; margin:0px;}
.esp .encuesta .opcion {font-size:12px; display:block; padding:3px 0px 0px 15px}
.esp .encuesta .votar input {background-color:#1759a6; color:#fff; border:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:7px 6px 0px 0px; padding:3px; cursor:pointer;}
.esp .encuesta .votar input hover {background-color:red; color:#fff; border:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:7px 6px 0px 0px; padding:3px; cursor:pointer;}
.esp .encuesta .verresultados a {background-color:#dddddd; color:#000; border:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:7px 6px 0px 0px; padding:3px;}

.esp .encuestas { line-height: 13px; }
.esp .encuestas .servicios_cintillo_resp { color: #003969; font-family: Tahoma,Arial,Helvetica; font-size: 11px; font-weight: bold; line-height: 16px; text-decoration: none; text-transform: uppercase; }
.esp .encuestas .divEspecialesTitular { color: #000000; font-family: Tahoma,Arial,Helvetica; font-size: 11px; font-weight: bold; line-height: 16px; text-decoration: none; }
.esp .encuestas .servicios_si { background-color: #003968; }
.esp .encuestas .servicios_no { background-color: #E0E4EF; }
.esp .encuestas .divEspecialesTexto { color: #000000; font-family: Tahoma,Arial,Helvetica,sans-serif; font-size: 12px; font-weight: normal; line-height: 13px; margin: 0 5px 0 0; text-decoration: none;}


/* FOROS */
.esp .foros {border:1px solid #CCC; padding:10px; padding-top:1px; margin: 0px 0px 20px 0px; overflow:hidden; float:left; display: block; width:295px;}
.esp .foros a {text-decoration:none}
.esp .foros h4 a{color:#1759a6; font-size:13px; text-decoration:none; margin:0 0 5px;}
.esp .foros h4 a:hover { color: #666;}
.esp .foros .titulo-foros {text-transform:uppercase; color:#1759a6; font-size:13px; background-image:url(http://www.levante-emv.com/elementosWeb/img/especiales/ico_foro.png); background-repeat:no-repeat; background-position:left; padding:14px 8px 14px 40px;}
.esp .foros .titulo-foros h3 { margin:0px; text-decoration:none; color:#1759a6; font-size:13px; font-weight:normal;}
.esp .foros .titulo-foros h3 a{ text-decoration:none; margin:0px;}
.esp .foros .mas-foros a {background-color:#1759a6; color:#fff; border:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:7px 6px 0px 0px; padding:3px; cursor:pointer;}
.esp .foros .mas-foros a hover {background-color:red; color:#fff; border:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin:7px 6px 0px 0px; padding:3px; cursor:pointer;}
	
	
/*MENU INFERIOR*/

/*.esp .menuInferior {clear: both; float: none; width:990px; font-weight:bold; font-size:13px; line-height:normal; background: #eee;padding-bottom: 0; padding-top: 0; text-align: left; border-bottom: 3px double #DD164D; border-top: 3px double #DD164D; overflow: hidden;}*/
.esp .menuInferior {clear: both; float: none; width:990px; font-weight:bold; font-size:13px; line-height:normal; background: #eee;padding-bottom: 0; padding-top: 0; text-align: left; overflow: hidden; background: #fff none repeat scroll 0 0 !important; border-bottom: 1px solid #dd164d !important; border-top: 1px solid #dd164d !important;}
div.esp div.menuInferior ul{ list-style-type: none; margin: 0; padding: 0; display: inline;}
div.esp div.menuInferior li { background-color: #fff !important; display: inline-block; float: none; margin:0px; padding: 0;border-right: none !important;border-left: none;}
.esp .menuInferior a { margin:0; padding:0px; text-decoration:none;  border-right: medium none; float: none;}
div.esp .menuInferior .current a span { background-color: #DD164D; color: #FFFFFF; margin-left: -4px;}
div.esp .menuInferior a span { color: #292b34; display: block; float: none; font: 18px roboto_condensedregular; padding: 10px 20px; text-decoration: none;}

	/* Commented Backslash Hack hides rule from IE5-Mac \*/
.esp .menuInferior a span {float:none;}
	/* End IE5-Mac hack */
.esp .menuInferior a:hover span {color: #DD164D;}
/*.esp .menuInferior .current a span { background-color:#ffffff; color:#1759a6;}*/
.esp .menuInferior li h2{font-size:12px; margin: 0px;}
.esp .menuInferior li h3{font-size:12px; margin: 0px;}

/* Migas */
.esp .rutademigas {font: 12px roboto_condensedregular !important; margin: 3px 7px !important;}
.esp .rutademigas .flecha {color: #ad1905; display: inline; font-weight: bold; margin: 0 8px;}
.esp .rutademigas h1 a, .esp .rutademigas h1 {color: #890d2f !important; display: inline; font-size: 12px !important; font-weight: bold; margin: 0;}

/* RESETEO CSS */
.esp p {margin: 0; padding: 0; border: 0; outline: 0; font-weight: normal; font-style: normal; font-size: 100%; vertical-align: baseline; font: 12px/18px robotoregular !important;}
/* /RESETEO CSS */


/* MODULO SIN DEFINIR */
.esp .sin_definir {border:1px solid #CCC; padding:10px; padding-top:1px; margin: 0px 0px 20px 0px; overflow:hidden; float:left; display: block;font-size:12px;width:95%;}


/* NOTICIA DESARROLLADA */
.esp .noticia_desarrollada .cintillo { font-size: 11px; }
.esp .noticia_desarrollada .epigrafe { font-size: 11px; }
.esp .noticia_desarrollada .epigrafe a{color: #890d2f; font-weight: bold; line-height: 20px; text-transform: uppercase; font: 12px/20px roboto_condensedregular !important;}
.esp .noticia_desarrollada .epigrafe a:hover{text-decoration:none;color:#999;}
.esp .noticia_desarrollada .subtitulo { color: #af133d; font-size: 11px; padding-left:3px; }
.esp .noticia_desarrollada .subtitulo h2{font: 19px/22px robotoregular !important;}
.esp .noticia_desarrollada .antetitulo { font-size: 11px; }
.esp .noticia_desarrollada h1 {font: 33px/36px roboto_condensedregular !important; color: #DD164D; margin: 3px 0 0; padding-top: 0;}
.esp .noticia_desarrollada .cuadro_multimedia { clear: left; float: right; padding-left: 10px; width: 315px;margin-top:10px;}
.esp .noticia_desarrollada .cuadro_multimedia img { border: medium none; display: block;}
.esp .noticia_desarrollada .piedefoto { background-color: #000000; color: #EEEEEE; font-size: 11px; height: 15px; padding: 0 0 0 3px;}
.esp .noticia_desarrollada .noticia_texto p { margin: 13px; }
.esp .noticia_desarrollada .noticia_texto h2, .esp .noticia_desarrollada .noticia_texto p {color: #000000; font-family: Arial,Helvetica,sans-serif; font-size: 75%; font-style: normal;font-weight: normal;line-height: 18px; }
.esp .noticia_desarrollada .noticia_texto h2, .esp .noticia_desarrollada .noticia_texto p .palabra_clave{ color: #1759A6; text-decoration:none; font-weight:bold;}
.esp .noticia_desarrollada .noticia_texto p a{color:#DD164D; text-decoration:none;}
.esp .noticia_desarrollada .noticia_texto p a:hover{text-decoration:none;color:#999;}

/* ZONA COMENTARIOS DE LA NOTICIA DESARROLLADA*/

.esp .comentarios{margin-right: 95px; padding-top: 10px; padding-right: 0px; padding-bottom: 10px; padding-left: 0px; line-height: normal;color: #333333;margin-top: 5px;font-size: 13px; width: 100%}
.esp .comentarios_envio { font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; text-decoration:none; color: #000000; margin: 0px 5px 0px 0px; line-height: 13px;}

.esp .comentarios h2 {font-size: 24px; color: #890D2F; margin: 3px 0 0; padding-top: 0;}
.esp .comentarios .fin_noticia 			{border-color: #666666; border-top: 1px dotted #CCCCCC; clear: left; font-weight: normal; margin: 0 0 2px; padding: 0 2px 5px;    top: -5px;}
.esp .comentarios .bloqueclear 			{clear: left; font-size: 1px; height: 4px; margin: 0; width: auto;}

.esp .contenedor_paginado {height: 15px; float: right; margin-top: -23px; padding-right: -10px;}
.esp .contenedor_paginado2 {height: 15px; float: right; margin-top: 0px; padding-right: 0px;}
.esp .paginado_comentarios{font-family: Tahoma, Arial, Helvetica; font-size: 11px; padding-top: 2px; padding-right: 5px; padding-bottom: 2px; padding-left: 5px; color: #909090; border-right-width: 1px; border-right-style: solid; border-right-color: #C7C7C7;}
.esp .paginado_comentarios  a{font-family: Tahoma, Arial, Helvetica; font-size: 11px; color: #909090;}
.esp .paginado_comentarios a:hover{font-family: Tahoma, Arial, Helvetica; font-size: 11px; color: #BBBBBB;}
.esp .paginado_seleccionado {font-family: Tahoma, Arial, Helvetica; font-size: 11px; padding-top: 2px; padding-right: 5px; padding-bottom: 2px; padding-left: 5px; color: #333333; border-right-width: 1px; border-right-style: solid; border-right-color: #C7C7C7; font-weight: bold;}
.esp .paginado_ultimo a{font-family: Tahoma, Arial, Helvetica; font-size: 11px; padding-top: 2px; padding-right: 5px; padding-bottom: 2px; padding-left: 5px; color: #909090;}
.esp .paginado_ultimo a:hover{font-family: Tahoma, Arial, Helvetica; font-size: 11px; padding-top: 2px; padding-right: 5px; padding-bottom: 2px; padding-left: 5px; color: #BBBBBB;}

.esp .avatar{float: left; width: 64px;}
.esp .comentarios .contenido{margin-left: 70px;}
.esp .comentarios .comentario{background-color: #ffffff;}
.esp .comentarios .destacado{border: 0px solid #003969;color: #000000;background: #f6f2b2 url('http://www.levante-emv.com/elementosWeb/mediaweb/images/comentarios/fondo_chincheta.jpg') repeat-y;/*padding: 2px;*/, margin-top: 10px;padding-left: 35px;}
.esp .comentarios .votosComentarios{float: right;width: 90px; font-size:11px; color: #003969;}
.esp .comentarios .votosComentarios a{float: right;width: 90px; font-size:11px; color: #003969;text-decoration:underline;}
.esp .comentarios .votosComentarios a:hover{float: right;width: 90px; font-size:11px; color: #003969; text-decoration:underline;}
.esp .comentarios .votacionPositiva{margin-left: 27px;width: 36px;height: 23px;background: url('http://www.levante-emv.com/elementosWeb/mediaweb/images/comentarios/votos.jpg');}
.esp .comentarios .votacionNegativa{margin-left: 27px;width: 36px;height: 23px;background: url('http://www.levante-emv.com/elementosWeb/mediaweb/images/comentarios/votos_rojos.jpg');}
.esp .comentarios .votacionNeutra{margin-left: 27px;width: 36px;height: 23px;background: url('http://www.levante-emv.com/elementosWeb/mediaweb/images/comentarios/votos_gris.jpg');}
.esp .comentarios .votacionPositiva div, .votacionNegativa div, .votacionNeutra div{padding: 3px;padding-top: 2px;padding-bottom: 18px;padding-right: 10px;line-height: 10px;text-align: center;font-size: 10px;color: white;font-weight: bold;}
.esp .comentarios .numVotos{text-align: center;font-size: 9px;}
.esp .comentarios .comentarios_naranja {font-size: 10px; font-weight: normal; color: #F3A60A; font-family: Tahoma,Arial,Helvetica; font-style: normal;}
.esp .comentarios .idComentario{font-size: 11px;font-weight: bold;}
.esp .comentarios .comentario-izq{width: 28px;float: left;margin: -5px;margin-left: -35px; margin-top: -17px;}
.esp .comentarios .comentario-inf{height: 21px;background: url('http://www.levante-emv.com/elementosWeb/mediaweb/images/comentarios/pie_comentario.jpg') no-repeat right;margin-right: -7px; margin-bottom: -18px;}
 	
.esp .info_comentarios{color: #F3A60A;margin: 10px;font-size: 12px;font-style: italic;font-weight: bold;}		
.esp .info_comentarios a{color: #003969;font-size: 12px;font-style: italic;font-weight: bold;}
 
.esp .comentar{ width: 650px; position: relative;}
.esp .comentar .comentar_superior{ width: 650px; background-color: #E8E8E8; height: 9px; margin: 0px; padding: 0px;} 
.esp .comentar .comentar_central{ width: 650px; background-color: #E8E8E8; margin: 0px; padding-top: 10px; padding-right: 0px; padding-bottom: 10px; padding-left: 0px;}
.esp .comentar .comentar_central .bot_desconectar span{ font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #0296ad; line-height: 23px; background-image: url(http://www.levante-emv.com/elementosWeb/mediaweb/images/comentarios/bot_desconectar.png); background-repeat: no-repeat; height: 23px; width: 107px; position: absolute; top: -1px; right: 15px; /*text-decoration: none!important;*/}
.esp .comentar .comentar_central .bot_desconectar a{ text-decoration: none;}
.esp .comentar .comentar_central .bot_desconectar a: hover{ text-decoration: none;}
.esp .comentar .comentar_central .bot_desconectar a span{ font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #0296ad; line-height: 23px; background-image: url(http://www.levante-emv.com/elementosWeb/mediaweb/images/comentarios/bot_desconectar.png); background-repeat: no-repeat; height: 23px; width: 107px; position: absolute; top: -1px; right: 15px; text-decoration: none;}
.esp .comentar .comentar_central .bot_desconectar a: hover span{ font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #00c7e6; line-height: 23px; background-image: url(http://www.levante-emv.com/elementosWeb/mediaweb/images/comentarios/bot_desconectar_over.png); background-repeat: no-repeat; height: 23px; width: 107px; position: absolute; top: -1px; right: 15px; text-decoration: none!important;}
.esp .comentar .comentar_central .titular_avatar{ font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #0f324e; position: absolute; width: 450px; left: 85px; top: 25px;}
.esp .comentar .comentar_central .titular_avatar a{ font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #0f324e; text-decoration: none;}
.esp .comentar .comentar_central .titular_avatar a: hover{ text-decoration: underline;}
.esp .comentar .comentar_central .titular_avatar .sub_avatar{ font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #218e9f; margin-top: 5px;}
.esp .comentar .comentar_central .titular_avatar .sub_avatar a{ font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #218e9f; text-decoration: none;}
.esp .comentar .comentar_central .titular_avatar .sub_avatar a: hover{ text-decoration: underline;}
.esp .comentar .comentar_central .avatar{width: 64px;border-right-width: 2px;border-bottom-width: 2px;border-top-style: none;border-right-style: solid;border-bottom-style: solid;border-right-color: #BBB;border-bottom-color: #BBB;position: absolute;left: 10px;top: 0px;overflow: hidden;background-color: #FFF;height: 64px;}
.esp .comentar .comentar_central .caja_comentario{ height: 115px; width: 615px; background-color: #fbfbfb; border: 1px solid #b9c3c1; margin-top: 60px; margin-left: 10px; padding: 5px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #666; line-height: 14px;}
.esp .comentar .comentar_central .texto_formulario{ font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #890D2F; margin-top: 5px; float: left;}
.esp .comentar .comentar_central .posi_bot{ margin-right: 13px; float: right; margin-top: 5px;}
.esp .comentar .comentar_central .posi_bot .bot{ line-height: 23px; background-color: #fbfbfb; height: 23px; width: 125px; border: 1px solid #b9c3c1; font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #890D2F;}
.esp .comentar .comentar_central .caja_chek{ background-color: #fbfbfb; border: 1px solid #b9c3c1; margin-right: 3px; margin-left: 10px;}
.esp .comentar .comentar_central .texto_normas{ font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #70777c; margin-right: 15px; margin-left: 15px; margin-top: 5px;}
.esp .comentar .comentar_central .texto_normas span{ font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #890D2F;}
.esp .comentar .pie_comentar{ height: 16px; width: 650px; margin: 0px; padding: 0px;}
.esp .comentar .separador{ clear: both; height: 1px; line-height: 1px;}
 
.esp .comentar .comentar_central .texto_formulario a{font-family: Arial, Helvetica, sans-serif;font-size: 10px;color: #890D2F;text-decoration: underline;}
.esp .comentar .comentar_central .texto_formulario a: hover{text-decoration: none;} 
 
.esp .comentar .txt_registro{ font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #890D2F; margin-right: 10px; margin-left: 10px;  }
.esp .comentar .txt_registro a{ font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #890D2F; text-decoration: underline;  }
.esp .comentar .txt_registro a: hover{ text-decoration: none;}
 
.esp .txt_nota_editor{ font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #70777c; background-color: #e8e8e8; padding-top: 5px; padding-right: 10px; padding-bottom: 5px; padding-left: 10px;  }
.esp .txt_nota_editor a {text-decoration:underline; color: #70777c; }
.esp .txt_nota_editor a:hover {text-decoration:underline; color: #70777c; }

.esp .txt_nota_editor .editor{ font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #890D2F; margin-bottom: 5px;  }



.esp .mensajeAlmacenarComentario { color: #85A0C6; float: none; font-family: Tahoma,Arial,Helvetica; font-size: 12px; font-weight: bold;margin-bottom: 3px;margin-top: 3px;}
.esp .mensajeAlmacenarComentario_cerrar { color: #666666;font-family: Arial,Helvetica,sans-serif;font-size: 10px;text-decoration: none;}

/*** COPIADOS DE VIDA Y ESTILO ***/
	.secciones .imagensec{float: left; /*background-color: #EAEAEA;*/ text-align:center;}
	.secciones .textosec{float: none; width: auto; padding-left: 20px; height:90px; max-height:90px;}
	.secciones .textosec_sinimagen{float: none; width: auto}
	.secciones .textosec h3{ margin:0px 0px 8px 0px; padding:0;}
	.secciones .textosec h3 a{ color: #DD164D;font: 22px/25px roboto_condensedregular, Arial !important;margin:3px 0 0 !important;text-decoration: none; padding:0;}
	.secciones .textosec h3 a:hover{ color:#666666;}
	.secciones .textosec .autoria{font-size: 11px;}
	.secciones .textosec .autoria a {color: #890d2f;font-weight: bold; text-decoration:none;}
	.secciones .textosec .autoria a:hover{color:#666666;}
	.secciones .textosec .texto{ max-height:55px;; padding-left:215px;}
	.secciones .textosec .texto p{ color:#666666; font-size:12px; overflow:hidden; }
	.secciones .textosec .texto p a{ color: #196CA5; text-decoration: none;} 
	.secciones .textosec .texto .fecha {color: #000; font: 12px roboto_condensedregular !important; margin-right: 5px;}

	.secciones .apoyos-l span{display:block}
	
	.secundaria{ margin-bottom:5px; padding-bottom:20px;border-bottom: 1px dotted #CCC; width:650px;}
	.secundaria .imagensec{ float:left; }
	.secundaria .imagensec img{ /*min-width:110px; min-*/vertical-align:middle;}
	.secciones.secundaria .imagensec img{ /*min-width:110px; min-*/ vertical-align: middle; margin-right:15px; margin-left: 10px; border: 1px solid #DD164D;}
	.secundaria .textosec .epigrafe{ color: #D07B07; display: block; float: none; font-size: 11px; font-weight: normal; line-height: 20px; margin-top: 2px;}
	/*.secundaria .textosec .epigrafe a{ color: #000; font-size: 11px; font-weight: bold; line-height: 20px;  }*/
	.secundaria .textosec .epigrafe a{ color: #000; font: 12px roboto_condensedregular !important; margin-right: 5px; text-transform: uppercase; text-decoration: none;}
	.secundaria .textosec .epigrafe a:hover{ text-decoration:none; color:#999;}

	.secundaria .textosec p{ margin:0}
	.secundaria .textosec_sinimagen p{ margin:0}
	.secundaria .salto{ clear:both; line-height:15px;}
	
	.bloque1columna:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
	.bloque1columna {zoom: 1;display: block; margin-bottom:0px; float:left; width:100%; padding-bottom:10px;}
	.bloque1columna h3, .bloque1columna h3 a { color:#000}
	.bloque1columna h2{ padding:10px 50px 10px 15px !important; margin-bottom:3px; font-weight: bold !important; font-size: 14px !important;background: url(http://www.levante-emv.com/noticias-hoy/motoGP/img/rejilla01.jpg) left top no-repeat transparent !important;/* display: block !important; float: none !important;*/}
	.bloque1columna h2, .bloque1columna h2 a { color:#fff; padding:4px;  display:block; font-size: 16px; margin: 0; background:#1759a6; width:100px; font-weight:lighter; }
	
	.noticia.mas-noticias h2{font: 18px/20px roboto_condensedregular !important;}
	.mas-noticias ul{padding:0; list-style:none; margin:0}
	.mas-not-list h3, .mas-noticias h3 a{font-size:14px;}
	.mas-not-list h3 a{font-size:14px; background:url(../../../elementosWeb/mediaweb/images/iconos/ico_ir.gif) no-repeat ; display:block; min-height:19px; margin-left:5px; padding:3px 0 5px 24px; border-bottom:1px dotted #ccc}
	.mas-not-num li{ float:left;}
	.mas-not-num a{ float:left; background:#EFEFEF; border:1px solid #C9C9C9; padding:5px 10px; margin-right:4px; text-decoration:none; color: #000000; font-size: 75%;}
	.mas-not-num a:hover{ color: #666!important; text-decoration:underline!important; font-size: 75%; }


/************************  ESTILOS RECLAMOS ESPECIALES  ***********************/

.reclamoEspecial3Col { width:320px; }
.reclamoEspecial3Col h3 { margin:0; padding:0; font-size:16px; padding-bottom:6px; border-bottom:1px dotted #CCC; width:310px; margin:0 auto; }
.reclamoEspecial3Col p { padding:10px; font-size:12px; }
.reclamoEspecial3Col a { text-decoration:none; color:#1E579C; font-weight:bold; }
.reclamoEspecial3Col a:hover { color:#D71110; }

/************************  ESTILOS EPIGRAFRES ESPECIALES  ***********************/

/*.esp .noticia1col .epigrafePortada { color: #D07B07; display: block; float: none; font-family: Tahoma,Arial,Helvetica; font-size: 11px; margin-top: 2px; line-height:20px; }
.esp .noticia1col .epigrafePortada a { color: #890d2f; font-size: 11px; font-weight: bold; line-height:20px; text-transform:uppercase; }*/
.esp .noticia1col .epigrafePortada { color: #D07B07;  font: 12px roboto_condensedregular !important; margin: 0; }
.esp .noticia1col .epigrafePortada a { color: #890d2f; font: 12px/20px roboto_condensedregular !important; text-transform: uppercase; }


.titular_esqui {font-family: Arial Narrow, Arial, Helvetica, sans-serif;font-size: 13px;color: #FFFFFF;margin-bottom: 4px;background-color: #2d455f;padding: 4px 10px;}
p.bienvenidoAlDirecto{font-family: Arial, Times, serif;font-size: 12px;color: #444; margin: 10px 20px;}
p.bienvenidoAlDirecto a{color: #DD164D;text-decoration: none;font-weight: bold;}
p.bienvenidoAlDirecto a:hover{color: #666;}
.titularesIndividuales{color: #000;	margin: 10px 20px 5px;font: 24px roboto_condensedregular,Arial !important;}


/* ************************************************************ desde motogp.css ****************************************************************** */

.contenedorMotoGp{width:650px;padding:10px;	font-family:Verdana, Geneva, sans-serif;background:#fff;}

.contenedorMotoGp h2{padding: 0 0 5px; border-bottom:1px solid #DD164D;color:#333333;margin-bottom: 15px;font-size: 18px;}   
  
.contenedorMotoGp h2.noticias {border: none; margin-bottom: 0; margin-top: 15px; padding-bottom: 0; font: 24px roboto_condensedregular,Arial !important;}
.contenedorMotoGp h2 a, #resumen_pilotos h2 a{text-decoration:none;color:#e4001b;}

.contenedorMotoGp h3{float:left;margin:10px;padding:0;}
.contenedorMotoGp h3 a{text-decoration:none;color:#666;}
.contenedorMotoGp h3 a:hover{color:#E4001B;	}
.contenedorMotoGp h3 a.selected{border-bottom:1px dotted #DD164D;padding-bottom:10px;color:#E4001B;	}

.contenedorMotoGp ul{list-style:none;padding:0;margin:0;width:630px;}
.contenedorMotoGp li{float:left;width:180px;margin:15px;}
.contenedorMotoGp li img{margin: 10px 0px 0px 10px;opacity: 0.8;border: 10px solid #DD164D;
/*Transition*/
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
/*Reflection*/
-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}

.contenedorMotoGp li img:hover{
	opacity: 1;
/*Reflection*/
-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
/*Glow*/
-webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
-moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}

li#espanol{	border: none !important; box-shadow: none !important; margin: 10px 10px 8px !important;}

.contenedorMotoGp li a{text-decoration:none;color:#333;	font: normal 12px roboto_condensedregular, Arial;}
.contenedorMotoGp li a:hover{text-decoration:underline;}
.contenedorMotoGp li a span.apellido{margin-left:0px;margin-right:0px; font-size: 18px; text-transform: uppercase; font-weight: bold; font-family: roboto_condensedregular, Arial;}
.contenedorMotoGp li a span{margin-left:25px;margin-right:12px;}
.contenedorMotoGp li p.circuitoLocalidad a{font: normal 11px robotoregular, Arial;}

.salto{	clear:both;	height:15px;}
.contenedorMotoGp .separador{clear:both; height:0px;}


/*--------------------   PILOTOS   ---------------------------------*/
.pilotoInterna img{	margin:25px 35px 35px;position:absolute; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #ccc; border-image: none; border-radius: 0 0 3px 3px; border-style: solid; border-width: 1px 1px 2px; box-shadow: 0 7px 13px -5px rgba(0, 0, 0, 0.4); width: 180px;/*clip: rect(10px, 20px, 0px, 20px);*/}
.pilotoInterna img[alt*="ircuito"]{border: none !important; box-shadow: none !important; /*clip: rect(0px, 0px, 0px, 0px) !important;*/}
.contenedorMotoGp .pilotoInterna h2{padding: 0 0 5px; font: 28px/30px roboto_condensedregular !important;}
.pilotoInterna ul{margin-left:200px;width:200px;margin-top:30px;}
.pilotoInterna ul li{color:#333333;	font: 16px roboto_condensedregular !important;text-align:right;margin:0;padding:6px;width:180px;}
.pilotoInterna ul.datosPiloto{position:absolute;margin-left:400px;border-left:2px solid #000;margin-top:0; box-shadow: none; border: none !important; height: auto !important;}
.pilotoInterna ul.datosPiloto li{text-align:left;margin-left:10px; font: bold 16px roboto_condensedregular !important;}
.pilotoInterna .palmares{padding:10px;margin-top:15px;font-size:12px; font: 14px robotoregular,Arial;}
.pilotoInterna .palmares a{color: #DD164D; text-decoration: none; font-weight: bold;}
.pilotoInterna .palmares a:hover{color: #890c2e;}

#resumen_pilotos {margin-bottom: 10px; text-align: left;}
.contenedorMotoGp #resumen_pilotos h2{padding: 0 0 5px; margin-bottom: 15px; font: 18px roboto_condensedregular !important;}

#resumen_pilotos .piloto {width: 30%;display: inline-block; ;margin-bottom: 25px; font-size: 90%;text-align: center;}

#resumen_pilotos .piloto .foto_piloto {width: 100%; text-align: center;}
#resumen_pilotos .piloto .foto_piloto img {border: 1px solid /*#DD164D*/ #ccc; display: inline-block; width: 100px !important; height: auto !important; box-shadow: 0 7px 13px -5px rgba(0, 0, 0, 0.4);}
div#resumen_pilotos .piloto .texto_piloto {margin-top: 5px;display: block;}
#resumen_pilotos .piloto .texto_piloto a{color:#333;text-decoration:none; font: 14px roboto_condensedregular !important;}

.divEspecialesFondo > .divEspecialesTexto > #resumen_pilotos{margin-left: 10px;}
.divEspecialesFondo > .divEspecialesTexto > #resumen_pilotos h2{padding: 0 0 5px; margin-bottom: 15px; font: 18px roboto_condensedregular !important; border-bottom: 1px solid #dd164d;}

/*-----------------------------   PILOTOS 1 COLUMNA   ---------------------------------*/

#resumen_pilotos1Col {width:315px;margin-bottom: 10px;font-family:Arial, Helvetica, sans-serif;background: url("http://www.levante-emv.com/noticias-hoy/motoGP/img/ajedrez.gif") repeat-y left top #fff;}
div#resumen_pilotos1Col .piloto{width: 95px;display: inline;margin-bottom: 0px;margin-left: 0px;float: left;font-size: 12px;padding: 5px 5px 5px;/*background: url(../img/rejilla01.jpg) right top no-repeat transparent;*/}
.datosPiloto{/*background:url(../img/pilotosHover.png); */margin:0px 4px; padding:8px;color:#333; font-size:12px;	font-weight:bold;border:1px solid #333333;height:59px;}
div#resumen_pilotos1Col .piloto .foto_piloto {float: left;display: inline;}
div#resumen_pilotos1Col .piloto .foto_piloto img {border: 1px solid #890d2f;;height:30px;width:30px;margin-right:9px;box-shadow: none/*2px 2px 4px #000*/;}
div#resumen_pilotos1Col .piloto .texto_piloto {display: inline;}
div#resumen_pilotos1Col .piloto .texto_piloto a{color:#890d2f; text-decoration:none;font: normal 13px/16px roboto_condensedregular;}

div#resumen_pilotos1Col .piloto .texto_piloto a:hover{color:#DD164D;}
div#resumen_pilotos1Col .piloto .texto_piloto a strong{	display: block;	font-size: 12px;text-transform:uppercase;}


/*-----------------------------    FIN PILOTOS 1 COL  ---------------------------------*/

/*-----------------------------   PILOTOS   ---------------------------------*/
.limpiar{clear: both; height: 0px;}
.opcionMotoGP{background: url(http://www.levante-emv.com/noticias-hoy/motoGP/img/pestanas.jpg) left top no-repeat; margin: 10px 0px 15px !important;padding: 10px;}
.opcionMotoGP h3{text-transform: uppercase; font: bold 12px tahoma, arial; margin: /*15px 23px 10px*/13px 40px 10px 22px !important;}
.opcionMotoGP h3.selected{text-transform: uppercase; font: bold 12px tahoma, arial; margin: 5px 35px 25px !important;}


.opcionMoto2{background: url(http://www.levante-emv.com/noticias-hoy/motoGP/img/pestanas.jpg) 0 -90px no-repeat; margin: 10px 0px 15px !important;padding: 10px;}
.opcionMoto2 h3{text-transform: uppercase; font: normal 13px roboto_condensedregular !important; margin: 15px 18px 10px 30px !important;}
.opcionMoto2 h3.selected{text-transform: uppercase; font: bold 12px tahoma, arial; margin: 5px 25px 25px 50px !important;}
.opcionMoto2 h3 a{font: normal 13px roboto_condensedregular !important;}


.opcionMoto3{background: url(http://www.levante-emv.com/noticias-hoy/motoGP/img/pestanas.jpg) 0 -180px no-repeat; margin: 10px 0px 15px !important;padding: 10px;}
.opcionMoto3 h3{text-transform: uppercase; font: bold 12px tahoma, arial; margin: /*15px 28px 10px 28px*/13px 34px 10px 32px !important;}
.opcionMoto3 h3.selected{text-transform: uppercase; font: bold 12px tahoma, arial; margin: 5px 25px 25px 29px !important;}
.opcionMoto3 h3 a{font: normal 13px roboto_condensedregular !important;}

.opcionMotoGP h3.selected a, .opcionMoto2 h3.selected a, .opcionMoto3 h3.selected a{color: #fff; border-bottom: none !important; font: normal 15px roboto_condensedregular;}
.opcionMotoGP h3 a{font: normal 13px roboto_condensedregular !important; text-transform: uppercase; }

div.contienePiloto ul li{width:190px;margin:10px 10px 8px;padding:0;}
.contienePiloto ul li img{display: block; border:none; margin: 0px auto;/* width: 160px;*/height: 125px;}
.contienePiloto ul li img.bandera{margin:0px 0px !important; display: inline !important; position: relative; top: 3px; width: 16px;height: 16px;}
.contienePiloto ul li img:hover{-webkit-box-reflect:none;}

.datosPiloto{-moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #ccc; border-image: none; border-radius: 0 0 3px 3px; border-style: solid; border-width: 1px 1px 2px; box-shadow: 0 7px 13px -5px rgba(0, 0, 0, 0.4); margin: 0px 0px; position: relative; padding: 3px 10px;}
.datosPiloto .dorsalPiloto{position: absolute; right: 5px; top: 10px; text-align: right; color:#666; font: 32px roboto_condensedbold,Arial, Helvetica, sans-serif;}
.datosPiloto .dorsalPiloto a{}

li div.contienePiloto > a{/*	text-transform: uppercase;*//*font-size: 11px; color: #333;color: #DD164D;display:block;text-align: center;*/}

li#espanol .datosPiloto{/*background: #DD164D;*/}
li#espanol .datosPiloto a, li#espanol .datosPiloto .dorsalPiloto{color: #DD164D !important;}

/*-----------------------------    FIN  PILOTOS   ---------------------------------*/

/*-----------------------------   CIRCUITOS   ---------------------------------*/

div.circuitos ul li{width:180px;margin:10px 10px 8px;padding:0;	/*border: 1px solid #000;	box-shadow: 1px 1px 3px #777;*/}
.circuitos ul li img{display: block; border:none; margin: 10px;}
.circuitos ul li img.bandera{margin:0px 0px !important; display: inline !important; position: relative; top: 3px;}
.circuitos ul li img:hover{	-webkit-box-reflect:none;}

.datosCircuito{background:#efefef; margin:4px; padding:8px;color:#333; font-size:12px; font-weight:bold; border:1px solid #333; height:auto;}

li div.datosCircuito > a{/*	text-transform: uppercase;*/font-size: 12px; color: #DD164D; /*display:block;*/text-align: center;}

.circuitos p{color:#E4001B;	margin:0px 0px;}
.circuitos p span{line-height:19px;	vertical-align: top;}
.circuitos p.circuitoLocalidad{	color:#333;	font-weight:normal;	margin:0; padding:0;}
#resumen_circuitos {margin-bottom: 10px;}
#resumen_circuitos h2 a{border-bottom: none !important; color: #dd164d; font: 33px/36px roboto_condensedregular,Arial !important; margin: 0; padding-bottom: 5px; padding-left: 10px;}
#resumen_circuitos .piloto {width: 33%;	display: inline;margin-bottom: 5px;	float: left;font-size: 90%;}
#resumen_circuitos .piloto .foto_piloto {float: none !important; display: block !important; text-align: center; margin-bottom: 10px;}
#resumen_circuitos .piloto .texto_piloto {margin-left:0px !important; text-align: center;}
#resumen_circuitos .piloto .texto_piloto a{	color:#333;	text-decoration:none; font: 14px roboto_condensedregular,Arial !important;}


/*-----------------------------   FIN CIRCUITOS   ---------------------------------*/


div.epigrafeMotoGp{	width:315px;background: url(http://www.levante-emv.com/noticias-hoy/motoGP/img/fndEpigrafes.jpg) left top no-repeat #fff; border-radius: 0px 0px 0px 0px;border: 1px solid #DD164D; padding: 7px 0;	color: #dd164d; font: normal 14px roboto_condensedregular,Arial !important; text-decoration: none; margin-bottom:5px;}

div.epigrafeMotoGp h2{margin: 0; font: normal 14px roboto_condensedregular,Arial !important; text-decoration: none; padding: 0;text-align: center;	color: #DD164D !important;border:none !important;}
div.epigrafeMotoGp h2 a{color:#DD164D;text-decoration:none; font: 14px roboto_condensedregular,Arial !important;}

/*-----------------------------  PROXIMO CIRCUITOS  ---------------------------------*/
div.proximoCircuito{width:305px;height:auto;padding:0px 5px 0px;font-family:Arial, Helvetica, sans-serif;border-top:2px solid #DD164D;border-bottom:2px solid #DD164D;background: url(http://www.levante-emv.com/noticias-hoy/motoGP/img/fndProximaCarrera.jpg) left top no-repeat #fff;}

div.proximoCircuito h3{	margin: 5px 0px 0px;padding:0;color:#fff;font-size:24px;text-shadow: 3px 3px 3px #000;text-align: center;}
.proximoCircuito h2{margin:0;padding:5px 0 0 20px;border:none !important;color:#FFF;}
.proximoCircuito h2 a{color:#3a3a3a;text-decoration:none;}
div.proximoCircuito p.fechaProximoCircuito{/*	display:inline;	float:right;*/display: block;float: none;color:#fff;/*margin-top:-20px;*/margin-top: 8px;margin-right: 5px;	text-align: right;	font-weight:normal;	font-size:28px;	font-weight: bold;}
.proximoCircuito p.fechaProximoCircuito span{font-weight:bold;font-size:120%;}
div.proximoCircuito p{margin:0 0 0 20px;padding:0;	font-size:12px;}
.proximoCircuito p a{text-decoration:none;color:#666;}

div.proximoCircuito p.paisGranPremioMotos{text-align: right; margin-top: 5px;}

.proximoCircuito p img{	margin-right:15px;}

.banderaGranPremioMotos{border: 1px solid #000; width: 30px; height: 20px; display:block; float: right;}
div.proximoCircuito .nombreGranPremioMotos{color: #eee; padding: 3px 5px 3px; font-weight: bold;display:block; float: right;}

div.proximoCircuito h2.nombreCircuitoMotos{clear: both; text-align: right; font-size: 13px; padding: 1px 0px;}
div.proximoCircuito h2.nombreCircuitoMotos a{color: #DD164D;}

.proximoCircuito ul{list-style:none;text-align:center;margin-top:10px;}
.proximoCircuito ul li{float:left;width:80px;}
div.proximoCircuito ul.categorias{color:#DD164D;font-weight:bold;font-size:15px;clear: both;}
div.proximoCircuito ul.horarios{font-size:14px;	clear: both;}

div.proximoCircuito .labelHorarios{	margin-top: 6px;padding-left: 40px;	font-size:12px;}
div.proximoCircuito .labelHorarios p{padding: 10px 0px;}

div.proximoCircuito div.horariosPorCarrera{	text-align: center;	padding: 10px 10px 5px;}
div.proximoCircuito div.horariosPorCarrera div.tipoCarrera{	border: 3px solid #DD164D;display: inline-block;width: 70px;border-radius: 50%;	margin: 0px 8px;padding: 17px 0px;}
div.proximoCircuito div.horariosPorCarrera div.tipoCarrera div.NombreTipoCarrera{color: #DD164D;font-size: 14px;text-align: center;	font-weight: bold;margin-top: 2px;}
div.proximoCircuito div.horariosPorCarrera div.tipoCarrera div.HoraTipoCarrera{	font-size: 12px;text-align: center;	font-weight: bold;}

.horariosBienvenida{margin: 20px;background: url(http://www.levante-emv.com/noticias-hoy/motoGP/img/fndDirectos3.png) left top no-repeat;padding-top: 1px;}
div.horariosBienvenida h2{margin: 0px 0px 5px;padding:0;color:#fff;	font: 24px roboto_condensedregular,Arial !important; text-shadow: 3px 3px 3px #000;text-align: center;}
div.horariosBienvenida div.horariosPorCarrera{text-align: center;margin-left: 70px;}
div.horariosBienvenida div.horariosPorCarrera div.tipoCarrera{display: inline-block;width: 70px;margin: 0px 30px;}
div.horariosBienvenida div.horariosPorCarrera div.tipoCarrera div.NombreTipoCarrera{color: #DD164D;	font: 16px roboto_condensedregular, Arial !important;text-align: center; margin-top: 2px;}
div.horariosBienvenida div.horariosPorCarrera div.tipoCarrera div.HoraTipoCarrera{font: 14px robotoregular, Arial !important; text-align: center;}


/*-----------------------   TABLA  -------------------------------------*/

.contenidoPremiados{ padding:0px; width:312px; font:12px roboto_condensedregular, Arial, Helvetica, sans-serif !important;}
.contenidoPremiados table{width:100%}
div.contenidoPremiados table, div.contenidoPremiados td, div.contenidoPremiados th{ border-collapse: collapse;}
.contenidoPremiados td.cabeceraGrupo{ background: url(http://www.levante-emv.com/noticias-hoy/motoGP/img/fndEpigrafes.jpg) left top no-repeat #fff; color:#DD164D; padding:7px 0px; border-radius: 0px 0px 0px 0px; border: 1px solid #DD164D;}
.contenidoPremiados .cabeceraGrupo1{ background:#ef142e; color:#fff; text-align:center; padding:4px 0px; border-radius: 5px 5px 5px 5px;}
.contenidoPremiados td.cabeceraGrupo h2{ margin:0; padding:0 ; font-size:12px; text-align:center; border:none;}
/*.contenidoPremiados td.cabeceraGrupo h2 a{ color:#DD164D; text-decoration:none;}*/
.contenidoPremiados td.cabeceraGrupo h2 a{color: #dd164d; font: 14px roboto_condensedregular,Arial !important; text-decoration: none;}
.contenidoPremiados .medio{ background:#989595; color:#fff; font-size:14px; text-align:center; padding:4px 0px;}
.contenidoPremiados .ganador { font-size:14px; text-align:center; padding:4px 0px;}
div.contenidoPremiados .premio{ color:#000; font-size:12px; text-align:center; padding:4px 0px;}
div.contenidoPremiados .premio a{ color:#000 !important; text-decoration: none !important;}


.contenidoPremiados table tr:nth-child(odd){ background: #ececec; height:25px;} /* color claro para las filas impares */
.contenidoPremiados table tr:nth-child(even){ background: #d2d1d1; height:25px;} /* color oscuro para las filas pares */
.even{background: #f0f0f0;}

.tablaPalmares{clear: both;}
.tablaPalmares table{width:645px; margin: 10px auto; font-size: 12px; color: #333;}
.tablaPalmares table, .tablaPalmares table th, .tablaPalmares table td{border: 1px solid #ccc; border-collapse: collapse;}
.tablaPalmares table td.piloto, .tablaPalmares table th.piloto, .tablaPalmares table td.piloto p{width:300px;}
.tablaPalmares table th{ padding: 8px; background: #b01641; color: #fff;font: 14px roboto_condensedregular,Arial !important;}
.tablaPalmares table th.anio{background: #ddd; color: #000;}
.tablaPalmares table th.anio a{color: #b01641;}
.tablaPalmares table td p{padding: 5px; border-bottom: 1px dotted #999;}
.tablaPalmares table td p.noborder{border-bottom: none !important;}
.tablaPalmares td a{text-decoration: none; color: #650d25; font-weight: 400;}
.tablaPalmares td a:hover{text-decoration: none; color: #b01641;}



/* --------------------------------------- widgets ---------------------------------------------- */

.foto_galeria .foto_principal .cajatexto .txtGaleria h2 {color:#FFFFFF; font: 13px robotoregular, Arial !important; margin:5px;	font-weight:normal;}
.foto_galeria .foto_principal .cajatexto .txtGaleria h2 a {color:#FFFFFF;font: 13px robotoregular, Arial !important;text-decoration:none;font-weight:normal;}
.foto_galeria .otrasGalerias a {font: 13px roboto_condensedregular, Arial !important;}
.subcabecera .nombreGP {font-size: 18px !important; font-weight: bold; padding-left: 5px;  width: 40%;}


